<footer class="footer-1 bg-dark">
  <div class="container">
    <div class="row p32">
      <div class="col-md-6 col-sm-12">
        <div class="widget">
          <h6 class="title">Subscribe to our mailing list</h6>
          <hr>
          <!-- Begin MailChimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
          <div id="mc_embed_signup" style="background: #292929;">
            <form style="text-align: left; line-height: 3em;" action="//gmail.us13.list-manage.com/subscribe/post?u=95d8229e12ac545d969d3a2b7&amp;id=4e1f6862de" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_95d8229e12ac545d969d3a2b7_4e1f6862de" tabindex="-1" value="">
                </div>
                <div class="clear">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                </div>
              </div>
            </form>
          </div>
          <!--End mc_embed_signup-->
          <!--<div class="instafeed" data-user-name="the_down_to_earth_doglady">
            <ul><a href="https://www.instagram.com/the_down_to_earth_doglady/"></a></ul>
          </div> -->
        </div>
        <!--end of widget-->
      </div>
      <div class="col-md-6 col-md-push-3 col-sm-6">
        <div class="widget">
          <ul id="social-list" class="list-inline social-list">
            <li>
              <a href="https://www.facebook.com/DowntoEarthDoglady/" class="col-xs-3  col-sm-2 col-md-2">
                <img class="social img-responsive" alt="Dog Lady on Facebook" src="/img/social-media-logo/facebook2.png">
              </a>
              <a href="https://www.instagram.com/the_down_to_earth_doglady/" class="col-xs-3  col-sm-2 col-md-2">
                <img class="social img-responsive" alt="Dog Lady on instagram" src="/img/social-media-logo/instagram2.png">
              </a>
              <a href="https://www.youtube.com/channel/UCufSSdFPyk7K9QLpFsQzueQ" class="col-xs-3  col-sm-2 col-md-2">
                <img class="social img-responsive" alt="Dog Lady on youtube" src="/img/social-media-logo/youtube2.png">
              </a>
              <a href="mailto:downtoearthdoglady@gmail.com" class="col-xs-3  col-sm-2 col-md-2">
                <img class="social img-responsive" alt="email the Dog Lady" src="/img/social-media-logo/email2.png">
              </a>
            </li>
            <!-- <li>
              <a href="#">
                <i class="ti-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="ti-instagram"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="ti-dribbble"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="ti-vimeo-alt"></i>
              </a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row pt32">
      <div class="col-md-12 col-sm-12">
        <div class="p32 v-align-children">
          <a class="mb0 btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
        </div>
      </div>
    </div><!--end of row-->
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 pt32">
        <span class="sub" style="padding: 2em;">&copy; 2016 - Down to Earth Dog Lady</span><span class="sub"><a href="/privacy-policy">Privacy Statement</a></span>
      </div>
    </div>
  </div>
  <!--end of container-->

  <!-- <section>
    <div class="container">
      <div class="row">
        Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>, <a href="http://www.flaticon.com/authors/metropolicons" title="Metropolicons">Metropolicons</a>, & <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
      </div>
    </div>
  </section> -->

</footer>
