<!DOCTYPE html>
<html>

  <%= erb :"includes/head" %>

  <body class="scroll-assist">

    <%= erb :"includes/header" %>

    <div class="main-container">

      <section class="fullscreen">
        <div class="container v-align-transform">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="text-center">
                <i class="ti-receipt icon icon-lg mb24 mb-xs-0"></i>
                <h1 class="large">Server Error</h1>
                <p>Looks like something went wrong! We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing.</p>
                <a class="btn" href="#">Go Back Home</a>
                <a class="btn" href="#">Contact Us</a>
              </div>
            </div>
          </div>
          <!--end of row-->
          <div class="embelish-icons">
            <i class="ti-help-alt"></i>
            <i class="ti-cross"></i>
            <i class="ti-support"></i>
            <i class="ti-announcement"></i>
            <i class="ti-signal"></i>
            <i class="ti-pulse"></i>
            <i class="ti-marker"></i>
            <i class="ti-pulse"></i>
            <i class="ti-alert"></i>
            <i class="ti-help-alt"></i>
            <i class="ti-alert"></i>
            <i class="ti-pulse"></i>
          </div>
        </div>
        <!--end of container-->
      </section>

      <%= erb :"includes/footer" %>

    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/underscore.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/flickr.js"></script>
    <script src="/js/flexslider.min.js"></script>
    <script src="/js/lightbox.min.js"></script>
    <script src="/js/masonry.min.js"></script>
    <script src="/js/twitterfetcher.min.js"></script>
    <script src="/js/spectragram.min.js"></script>
    <script src="/js/ytplayer.min.js"></script>
    <script src="/js/countdown.min.js"></script>
    <script src="/js/smooth-scroll.min.js"></script>
    <script src="/js/parallax.js"></script>
    <script src="/js/download.js"></script>
    <!-- <script src="/js/instructions.js"></script> -->
    <script src="/js/moment.js"></script>
    <script src="/js/scripts.js"></script>
    <!-- <script src="/js/instagram.js"></script> -->
    <!-- <script src="/js/acuity.js"></script> -->
    <!-- <script src="/js/eventbrite.js"></script> -->

    <%= yield_content :footer_js %>

    <script src="/js/custom.js"></script>
    <script src="/js/flip-cards.js"></script>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>

  </body>
</html>








