
<!-- Begin Angie Bio -->
<div class="row mb64">
  <div class="col-md-12 col-sm-12 mb16 mb-xs-16 p0">
    <div class="col-sm-5 mb24 mb-xs-24">
      <img alt="Angie" src="img/pack-hikes/angie2.jpg" />
    </div>
    <div class="col-sm-7 mb16 mb-xs-16">
      <h5 class="uppercase mb0">Angie</h5>
      <span class="inline-block mb16 mb-xs-24">Dog Walker / Pet Sitter</span>
      <p>
        Angie's passion for dogs comes from the love and relationships she has had with them all her life; especially with her favorite fetch and hiking buddies; Gus and Jimmy.
      </p>
      <p>
        Angie began her career in the dog business as a groomer where she learned how to handle all kinds of dogs. She quickly realized she wanted to expand her knowledge about dogs so she began working at a dog daycare and later as an assistant at a veterinary office.
      </p>
      <p>
        She brings her considerable skill and passion for dogs and for learning about all aspects of dog care and training to The Down to Earth Dog Lady as part of the Pack Hike team and as a dog walker and daycare provider.
      </p>
    </div>
  </div>
</div>
<!-- End Angie Bio -->



<!-- Begin Sam Bio -->
<div class="row mb64">
  <div class="col-md-12 col-sm-12 mb16 mb-xs-16 p0">
    <div class="col-sm-5 mb24 mb-xs-24">
      <img alt="Sam" src="img/about/sam-tucker.jpg" />
    </div>
    <div class="col-sm-7 mb16 mb-xs-16">
      <h5 class="uppercase mb0">Sam</h5>
      <span class="inline-block mb16 mb-xs-24">Pet Sitter</span>
      <p>
        Sam started his dog experience back in 2011 working at a dog daycare. He quickly learned what it meant to care for large groups of dogs as well as caring for overnight boarding visitors.
      </p>
      <p>
        Seeing first hand through boarding care he recognized that not all dogs thrive in that setting while parents are away. Sam joined the doglady crew to provide a safe and caring alternative to boarding facilities, for those pups who are more comfortable at home in their own space.
      </p>
    </div>

    <!-- Begin Dog accordion -->
    <div class="col-md-7 col-sm-12 mb0 mb-xs-24 p24">
      <ul class="accordion accordion-1">
        <li class="">
          <div class="title">
            <span>Meet Tucker</span>
          </div>
          <div class="content">
            <!-- Begin Tucker Bio -->
            <div class="col-sm-7 col-xs-12 mb8 mb-xs-0 pt24">
              <h5 class="uppercase mb8">Tucker</h5>
              <p>
                Weighing in at 7lbs, Tucker is our smallest pack member. As an expert cuddler, he is the perfect lap dog. Tucker is 7 years old and provides a "small dogs prespecive" in most training situations.
              </p>

              <p>
                He loves meeting new friends which makes him perfect for going with Sam on home visits when he can come along. His friendly and calm personality makes it easy for him to meet dogs of all sizes!
              </p>
            </div>
            <div class="col-sm-5 col-xs-12 mb64 mb-xs-16 mt-xs-0 pt24 pt-xs-8">
              <img alt="Tucker" src="img/about/tucker.jpg" />
            </div>
            <!-- End Tucker Bio -->
          </div>
        </li>
      </ul>
      <!--end of accordion-->
    </div>
    <!-- End Dog accordion -->
  </div>
</div>
<!-- End Sam Bio -->