<style type="text/css">

  @font-face {
  font-family: 'Archer Book';
  font-style: normal;
  font-weight: normal;
  src: local('Archer Book'), url('/fonts/archer-book/Archer-Book-Pro.woff') format('woff');
  }

  @font-face {
  font-family: 'Archer Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Archer Medium'), url('/fonts/archer-book/Archer-Medium-Pro.woff') format('woff');
  }

  @font-face {
  font-family: 'Archer Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('Archer Semibold'), url('/fonts/archer-book/Archer-Semibold-Pro.woff') format('woff');
  }

  @font-face {
  font-family: 'Archer Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Archer Bold'), url('/fonts/archer-book/Archer-Bold-Pro.woff') format('woff');
  }

  #archer div.archer-regular h3, #archer div.archer-regular {
    font-family: 'Archer Book', 'Dosis','Raleway',"Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666;
  }
  #archer div.archer-medium h3, #archer div.archer-medium {
    font-family: 'Archer Medium', 'Dosis','Raleway',"Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666;
  }
  #archer div.archer-semibold h3, #archer div.archer-semibold{
    font-family: 'Archer Semibold', 'Dosis','Raleway',"Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666;
  }
  #archer div.archer-bold h3, #archer div.archer-bold  {
    font-family: 'Archer Bold', 'Dosis','Raleway',"Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666;
  }
  .color-box {
    height: 100px;
    min-width: 90px;
    margin-right: 1em;
    display: inline-block;
    float: left;
    padding-right: 0px;

  }
/*  .color-box-text {
    margin-right: .5em;
    margin-left: 1em;
    display: inline;
  }*/
</style>

<section style="padding-bottom: 1em;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Brand Colors</h3>
        <p class="lead">These are the Down to Earth Dog Lady brand colors.</p>
        <div class="col-md-12" style="padding-left: 0px;">
          <div class="col-md-3 col-sm-4 color-box-text" style="padding-left: 0px;">
            <div class="color-box" style="background-color: #47b475;"></div>
            <h5 style="margin-bottom: 5px;">Green</h5>
            <h6 style="margin-bottom: 3px;">Hex: #47b475</h6>
            <h6 style="margin-bottom: 3px;">CMYK: 60, 0, 34, 29</h6>
            <h6>RGB: 71, 180, 117</h6>
          </div>
          <div class="col-md-3 col-sm-4  color-box-text" style="padding-left: 0px;">
            <div class="color-box" style="background-color: #333333;"></div>
            <h5 style="margin-bottom: 5px;">Dark Gray</h5>
            <h6 style="margin-bottom: 3px;">Hex: #333333</h6>
            <h6 style="margin-bottom: 3px;">CMYK: 0, 0, 0, 80 </h6>
            <h6>RGB: 51, 51, 51</h6>
          </div>
          <div class="col-md-3 col-sm-4 color-box-text" style="padding-left: 0px;">
            <div class="color-box" style="background-color: #666666;"></div>
            <h5 style="margin-bottom: 5px;">Light Gray</h5>
            <h6 style="margin-bottom: 3px;">Hex: #666666</h6>
            <h6 style="margin-bottom: 3px;">CMYK: 0, 0, 0, 60</h6>
            <h6>RGB: 102, 102, 102</h6>
          </div>
          <div class="col-md-3 col-sm-3">
            <h5 style="margin-bottom: 5px;">Click the button to download Branding Guidelines PDF</h5>
            <a href="/DTEDL_brand_guidelines-updated_11-2-16.pdf" download="DTEDL_brand_guidelines-updated_11-2-16.pdf"><span class="btn btn-sm mt8">Branding Guidlines</span></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="archer" style="padding-bottom: 1em;">
  <div class="container">
    <div class="row mb32">
      <div class="col-md-12 archer-bold">
        <h3>Brand Font: Archer</h3>
        <div class="col-md-1">
          <H3 class="archer-bold">Bold</H3>
        </div>
        <div class="col-md-10 col-md-offset-1 archer-bold">
          <p style="font-size: 3em; line-height: 1.25em;">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
          <p style="font-size: 3em; line-height: 1.25em;">a b c d e f g h i j k l m n o p q r s t u v w x y z , . : ; ? ! " '</p>
          <p style="font-size: 3em; line-height: 1.25em;">1 2 3 4 5 6 7 8 9 0</p>
        </div>
      </div>
    </div>

    <div class="row mb32">
      <div class="col-md-12 archer-semibold">
        <div class="col-md-1">
          <H3>SemiBold</H3>
        </div>
        <div class="col-md-10 col-md-offset-1 archer-semibold">
          <p style="font-size: 3em; line-height: 1.25em;">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
          <p style="font-size: 3em; line-height: 1.25em;">a b c d e f g h i j k l m n o p q r s t u v w x y z , . : ; ? ! " '</p>
          <p style="font-size: 3em; line-height: 1.25em;">1 2 3 4 5 6 7 8 9 0</p>
        </div>
      </div>
    </div>

    <div class="row mb32">
      <div class="col-md-12 archer-medium">
        <div class="col-md-1">
          <H3>Medium</H3>
        </div>
        <div class="col-md-10 col-md-offset-1 archer-medium">
          <p style="font-size: 3em; line-height: 1.25em;">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
          <p style="font-size: 3em; line-height: 1.25em;">a b c d e f g h i j k l m n o p q r s t u v w x y z , . : ; ? ! " '</p>
          <p style="font-size: 3em; line-height: 1.25em;">1 2 3 4 5 6 7 8 9 0</p>
        </div>
      </div>
    </div>

    <div class="row mb32">
      <div class="col-md-12 archer-regular">
        <div class="col-md-1">
          <H3>Regular</H3>
        </div>
        <div class="col-md-10 col-md-offset-1 archer-regular">
          <p style="font-size: 3em; line-height: 1.25em;">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
          <p style="font-size: 3em; line-height: 1.25em;">a b c d e f g h i j k l m n o p q r s t u v w x y z , . : ; ? ! " '</p>
          <p style="font-size: 3em; line-height: 1.25em;">1 2 3 4 5 6 7 8 9 0</p>
        </div>
      </div>
    </div>

  </div>
</section>

<section style="padding-bottom: 1em;">
  <div class="container">
  <h3>Badge Logos</h3>
  <p class="lead">Click the button below the logo image to download.</p>
    <div class="row mb80">
      <div class="col-md-12">
        <div class="col-md-3">
          <img src="/img/logos/badge-logo/medium/2-color-badge.png">
          <a href="/img/logos/badge-logo/medium/2-color-badge.png" download="dtedl-badge-2-color-medium"><span class="btn btn-sm mt16">Download Medium Size (6"x6")</span></a>
          <a href="/img/logos/badge-logo/large/2-color-badge.png" download="dtedl-badge-2-color-large"><span class="btn btn-sm mt8">Download Large Size (12"x12")</span></a>
        </div>
        <div class="col-md-3">
          <img src="/img/logos/badge-logo/medium/dark-gray-badge.png">
          <a href="/img/logos/badge-logo/medium/dark-gray-badge.png" download="dtedl-badge-dark-gray-medium"><span class="btn btn-sm mt16">Download Medium Size (6"x6")</span></a>
          <a href="/img/logos/badge-logo/large/dark-gray-badge.png" download="dtedl-badge-dark-gray-large"><span class="btn btn-sm mt8">Download Large Size (12"x12")</span></a>
        </div>
        <div class="col-md-3">
          <img src="/img/logos/badge-logo/medium/black-badge.png">
          <a href="/img/logos/badge-logo/medium/black-badge.png" download="dtedl-badge-black-medium"><span class="btn btn-sm mt16">Download Medium Size (6"x6")</span></a>
          <a href="/img/logos/badge-logo/large/black-badge.png" download="dtedl-badge-black-large"><span class="btn btn-sm mt8">Download Large Size (12"x12")</span></a>
        </div>
        <div class="col-md-3">
          <img style="background-color: #47b475;" src="/img/logos/badge-logo/large/white-badge.png">
          <a href="/img/logos/badge-logo/medium/white-badge.png" download="dtedl-badge-white-medium"><span class="btn btn-sm mt16">Download Medium Size (6"x6")</span></a>
          <a href="/img/logos/badge-logo/large/white-badge.png" download="dtedl-badge-white-large"><span class="btn btn-sm mt8">Download Large Size (12"x12")</span></a>
        </div>
        </div>
      </div>
    </div>
    <!-- End Row -->
  </div>

  <div class="container">
    <h3>Heart Logos</h3>
    <p class="lead">Click the button below the logo image to download.</p>
    <div class="row mb80">
      <div class="col-md-12">
        <div class="col-md-3">
          <img src="/img/logos/heart-logo/medium/green-heart.png">
          <a href="/img/logos/heart-logo/medium/green-heart.png" download="dtedl-heart-2-color-medium"><span class="btn btn-sm mt16">Download Medium Size (6"x6")</span></a>
          <a href="/img/logos/heart-logo/large/green-heart.png" download="dtedl-heart-2-color-large"><span class="btn btn-sm mt8">Download Large Size (12"x12")</span></a>
        </div>
        <div class="col-md-3">
          <img src="/img/logos/heart-logo/medium/dark-gray-heart.png">
          <a href="/img/logos/heart-logo/medium/dark-gray-heart.png" download="dtedl-heart-dark-gray-medium"><span class="btn btn-sm mt16">Download Medium Size (6"x6")</span></a>
          <a href="/img/logos/heart-logo/large/dark-gray-heart.png" download="dtedl-heart-dark-gray-large"><span class="btn btn-sm mt8">Download Large Size (12"x12")</span></a>
        </div>
        <div class="col-md-3">
          <img src="/img/logos/heart-logo/medium/black-heart.png">
          <a href="/img/logos/heart-logo/medium/black-heart.png" download="dtedl-heart-black-medium"><span class="btn btn-sm mt16">Download Medium Size (6"x6")</span></a>
          <a href="/img/logos/heart-logo/large/black-heart.png" download="dtedl-heart-black-large"><span class="btn btn-sm mt8">Download Large Size (12"x12")</span></a>
        </div>
        <div class="col-md-3">
          <img style="background-color: #47b475;" src="/img/logos/heart-logo/medium/white-heart.png">
          <a href="/img/logos/heart-logo/medium/white-heart.png" download="dtedl-heart-white-medium"><span class="btn btn-sm mt16">Download Medium Size (6"x6")</span></a>
          <a href="/img/logos/heart-logo/large/white-heart.png" download="dtedl-heart-white-large"><span class="btn btn-sm mt8">Download Large Size (12"x12")</span></a>
        </div>
        </div>
      </div>
    </div>
    <!-- End Row -->
  </div>

  <div class="container">
    <h3>Heart Logos with Text</h3>
    <p class="lead">Click the button below the logo image to download.</p>
    <div class="row mb80">
      <div class="col-md-12">
        <div class="col-md-3">
          <img src="/img/logos/heart-with-text/medium/green-heart-with-text.png">
          <a href="/img/logos/heart-with-text/medium/green-heart-with-text.png" download="dtedl-heart-with-text-green-medium"><span class="btn btn-sm mt16">Download Medium Size (8"x2")</span></a>
          <a href="/img/logos/heart-with-text/large/green-heart-with-text.png" download="dtedl-heart-with-text-green-large"><span class="btn btn-sm mt8">Download Large Size (13"x3
          ")</span></a>
        </div>
        <div class="col-md-3">
          <img src="/img/logos/heart-with-text/medium/dark-gray-heart-with-text.png">
          <a href="/img/logos/heart-with-text/medium/dark-gray-heart-with-text.png" download="dtedl-heart-with-text-dark-gray-medium"><span class="btn btn-sm mt16">Download Medium Size (8"x2")</span></a>
          <a href="/img/logos/heart-with-text/large/dark-gray-heart-with-text.png" download="dtedl-heart-with-text-dark-gray-large"><span class="btn btn-sm mt8">Download Large Size (13"x3
          ")</span></a>
        </div>
        <div class="col-md-3">
          <img src="/img/logos/heart-with-text/medium/black-heart-with-text.png">
          <a href="/img/logos/heart-with-text/medium/black-heart-with-text.png" download="dtedl-heart-with-text-black-medium"><span class="btn btn-sm mt16">Download Medium Size (8"x2")</span></a>
          <a href="/img/logos/heart-with-text/large/black-heart-with-text.png" download="dtedl-heart-with-text-black-large"><span class="btn btn-sm mt8">Download Large Size (13"x3
          ")</span></a>
        </div>
        <div class="col-md-3">
          <img style="background-color: #47b475;" src="/img/logos/heart-with-text/medium/white-heart-with-text.png">
          <a href="/img/logos/heart-with-text/medium/white-heart-with-text.png" download="dtedl-heart-with-text-white-medium"><span class="btn btn-sm mt16">Download Medium Size (8"x2")</span></a>
          <a href="/img/logos/heart-with-text/large/white-heart-with-text.png" download="dtedl-heart-with-text-white-large"><span class="btn btn-sm mt8">Download Large Size (13"x3
          ")</span></a>
        </div>
        </div>
      </div>
    </div>
    <!-- End Row -->
  </div>
</section>