<meta name="description" content="The Down to Earth Dog Lady is a local Portland, Oregon dog trainer providing adventure pack hikes, walks, and dog training! Erin is a CPDT-KA , KPCTP certified dog trainer.">

<section class="pt24 bg-secondary">
    <div class="map-holder pt160 pb160">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22366.512190427904!2d-122.67449666153108!3d45.513822279101625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5495a0a00fbcc53b%3A0x5a542388f343d89b!2s833+SE+Main+St%2C+Portland%2C+OR+97214!5e0!3m2!1sen!2sus!4v1477973830823" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="clearboth"></div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-5">
      </div>
      <div class="col-sm-6 col-md-5 col-md-offset-1">

      </div>
    </div>
  </div>
  <div class="clearboth"></div>

<!--   <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-5">
        <hr>
      </div>
      <div class="col-sm-6 col-md-5 col-md-offset-1">

      </div>
    </div>
  </div> -->
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-5 mb48">
        <h4 class="uppercase color-primary mt24" style="font-size: 1.7em;">Contact Erin</h4>
        <hr>
        <p class="lead" style="margin-bottom: 5px;">
          <strong>E:</strong> <a href="mailto:downtoearthdoglady@gmail.com">downtoearthdoglady@gmail.com</a>
        </p>
        <p class="lead">
          <strong>P:</strong> <a href="tel:610-812-2880">(610) 812-2880</a>
        </p>
         <p class="lead mb48">
           833 SE Main St. Suite # 111,
          <br>Portland, OR 97214
          <br>
        <!-- </p>
          <p class="lead"> -->
          <strong>Regular Hours: </strong>M-F 9:00am - 6:00pm <br>
          <span style="font-size: 12px; line-height: 16px;"><em>*Lessons and some other services are regularly scheduled outside these hours, however if you contact me outside these hours, I may not be able to respond untill the next business day.</em></span>
        </p>




      </div>

      <div class="col-sm-6 col-md-5 col-md-offset-1">
        <h4 class="uppercase color-primary" style="font-size: 1.7em;">Subscribe to the Newsletter</h4>
        <hr>
        <p class="lead">
          Get the latest news and updates from the Down to Earth Dog Lady!
        </p>
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup{
            background:#fff;
            clear:left;
            font:14px Helvetica,Arial,sans-serif;
          }
          #mc_embed_signup input {
               border: 0px solid #ABB0B2;
              -webkit-border-radius: 3px;
              -moz-border-radius: 3px;
              border-radius: 3px;
          }
          /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
             We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
          <form action="//downtoearthdoglady.us13.list-manage.com/subscribe/post?u=95d8229e12ac545d969d3a2b7&amp;id=4e1f6862de" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div class="indicates-required">
                <span class="asterisk">*</span> indicates required
              </div>
              <div class="mc-field-group">
                <label for="mce-FNAME">First Name </label>
                <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
              </div>
              <div class="mc-field-group">
                <label for="mce-LNAME">Last Name </label>
                <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
              </div>
              <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address
                  <span class="asterisk">*</span>
                </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
              </div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>

                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_95d8229e12ac545d969d3a2b7_4e1f6862de" tabindex="-1" value="">
                </div>
                <div class="clear">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                </div>
              </div>
          </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[5]='MMERGE5';ftypes[5]='number';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->

      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
  <div class="clearboth"></div>
</section>





