<!-- <style type="text/css">
  .parallax > .background-image-holder, .parallax .slides li > .background-image-holder {
      height: 100vh;
      top: 0vh;
      transition: all 0s ease !important;
      transition: opacity 0.3s ease !important;
      -webkit-transform-style: preserve-3d;
  }
</style> -->
<meta name="author" content="Paul Hayes" />
<link rel="canonical" href="https://paulrhayes.com/experiments/cube-3d/" />
<link rel="stylesheet" href="/css/experiment.css" />

<section>
  <div class="">

    <!--end of row-->

    <div class="row">

      <div class="col-sm-3" style="margin-left: 8%;">
        <div class="wrapper">
          <div id="experiment">

            <div id="cube1">
              <!-- Roll up: Fourth Face to show -->
              <div class="face one">
                <h4>Schedule a consultation</h4>
                <p>
                  I offer free 30 minute consultations so I can get to know you and your dog. We'll discuss your needs and goals and then go over my training methods so we can begin to construct a training plan together!
                </p>
                <a class="btn btn-filled" href="/contact">Contact me</a>
              </div>

              <!-- First Face to show -->
              <div class="face two">
                <h3>My training problem... </h3>
                <div class="flipbox-tooltip">
                  <div class="flipbox-tooltip">
                    <p>Click to find out how <br> training can help</p>
                    <i class="ti-angle-double-down icon-sm flipbox-icon"></i>
                  </div>
                </div>

              </div>

              <div class="face three">
                <p>
                  3
                </p>
              </div>

              <!-- Roll up: Third Face to show (upside down) -->
              <div class="face four flipbox-frame training">
                <div class="flipbox-tooltip flipbox-image">
                  <p>Ready to start training?</p>
                  <i class="ti-angle-double-down icon-sm flipbox-icon"></i>
                </div>
              </div>

              <div class="face five">
                5
              </div>

              <!-- Roll up: Second Face to show -->
              <div class="face six">
                <h4>Recall Training</h4>
                <p class="lead">How we work on recall training...</p>
                <div class="flipbox-tooltip">
                  <p>See this training in action</p>
                  <i class="ti-angle-double-down icon-sm flipbox-icon"></i>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="wrapper">
          <div id="experiment">
            <div id="cube2">

              <!-- Roll up: Fourth Face to show -->
              <div class="face one">
                <h4>Schedule a consultation</h4>
                <p>
                  I offer free 30 minute consultations so I can get to know you and your dog. We'll discuss your needs and goals and then go over my training methods so we can begin to construct a training plan together!
                </p>
                <a class="btn btn-filled" href="/contact">Contact me</a>
              </div>

              <!-- First Face to show -->
              <div class="face two">
                <h3>My training problem... </h3>
                <div class="flipbox-tooltip">
                  <p>Click to find out how <br> training can help</p>
                  <i class="ti-angle-double-down icon-sm flipbox-icon"></i>
                </div>
              </div>

              <div class="face three">
                <p>
                  3
                </p>
              </div>

              <!-- Roll up: Third Face to show (upside down) -->
              <div class="face four flipbox-frame training">
                <div class="flipbox-tooltip flipbox-image">
                  <p>Ready to start training?</p>
                  <i class="ti-angle-double-down icon-sm flipbox-icon"></i>
                </div>
              </div>

              <div class="face five">
                5
              </div>

              <!-- Roll up: Fourth Face to show (upside down) -->
              <div class="face six">
                <h4>Resource Guarding Training</h4>
                <p class="lead">How we work on resource guarding...</p>
                <div class="flipbox-tooltip">
                    <p>See this training in action</p>
                    <i class="ti-angle-double-down icon-sm flipbox-icon"></i>
                  </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3" style="margin-right: 8%;">
        <div class="wrapper">
          <div id="experiment">
            <div id="cube3">

              <!-- Roll up: Fourth Face to show -->
              <div class="face one">
                <h4>Schedule a consultation</h4>
                <p>
                  I offer free 30 minute consultations so I can get to know you and your dog. We'll discuss your needs and goals and then go over my training methods so we can begin to construct a training plan together!
                </p>
                <a class="btn btn-filled" href="/contact">Contact me</a>
              </div>

              <!-- First Face to show -->
              <div class="face two">
                <h3>My training problem... </h3>
                <div class="flipbox-tooltip">
                    <p>Click to find out how <br> training can help</p>
                    <i class="ti-angle-double-down icon-sm flipbox-icon"></i>
                  </div>
              </div>

              <div class="face three">
                <p>
                  3
                </p>
              </div>

              <!-- Roll up: Third Face to show (upside down) -->
              <div class="face four flipbox-frame training">
                <div class="flipbox-tooltip flipbox-image">
                    <p>Ready to start training?</p>
                    <i class="ti-angle-double-down icon-sm flipbox-icon"></i>
                  </div>
              </div>

              <div class="face five">
                5
              </div>

              <!-- Roll up: Fourth Face to show (upside down) -->
              <div class="face six">
                <h4>Reactivity</h4>
                <p class="lead">How we work on reactivity...</p>
                <div class="flipbox-tooltip">
                    <p>See this training in action</p>
                    <i class="ti-angle-double-down icon-sm flipbox-icon"></i>
                  </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
    <!--end of row-->

  </div>
  <!--end of container-->
</section>

<section class="image-bg overlay parallax">
  <div class="background-image-holder fadeIn" style="transform: translate3d(0px, 371.5px, 0px); background: url(/img/training/training-downtown.jpg);">
    <img alt="Background" class="background-image" src="/img/training/training-downtown.jpg" style="display: none;">
  </div>

  <div class="">

    <!--end of row-->

    <div class="row">

      <div class="col-sm-3" style="margin-left: 8%;">
        <div class="wrapper">
          <div id="experiment">

            <div id="cube4">
              <!-- Roll up: Fourth Face to show -->
              <div class="face one green">
                <h4>Schedule a consultation</h4>
                <p>
                  I offer free 30 minute consultations so I can get to know you and your dog. We'll discuss your needs and goals and then go over my training methods so we can begin to construct a training plan together!
                </p>
                <a class="btn" href="/contact">Contact me</a>
              </div>

              <!-- First Face to show -->
              <div class="face two green">
                <h3>My training problem... </h3>
                <div class="flipbox-tooltip">
                  <div class="flipbox-tooltip white">
                    <p>Click to find out how <br> training can help</p>
                    <i class="ti-angle-double-down icon-sm flipbox-icon white"></i>
                  </div>
                </div>

              </div>

              <div class="face three green">
                <p>
                  3
                </p>
              </div>

              <!-- Roll up: Third Face to show (upside down) -->
              <div class="face four green flipbox-frame training">
                <div class="flipbox-tooltip white flipbox-image">
                  <p>Ready to start training?</p>
                  <i class="ti-angle-double-down icon-sm flipbox-icon white"></i>
                </div>
              </div>

              <div class="face five green">
                5
              </div>

              <!-- Roll up: Second Face to show -->
              <div class="face six green">
                <h4>Recall Training</h4>
                <p class="lead">How we work on recall training...</p>
                <div class="flipbox-tooltip white">
                  <p>See this training in action</p>
                  <i class="ti-angle-double-down icon-sm flipbox-icon white"></i>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="wrapper">
          <div id="experiment">
            <div id="cube5">

              <!-- Roll up: Fourth Face to show -->
              <div class="face one green">
                <h4>Schedule a consultation</h4>
                <p>
                  I offer free 30 minute consultations so I can get to know you and your dog. We'll discuss your needs and goals and then go over my training methods so we can begin to construct a training plan together!
                </p>
                <a class="btn" href="/contact">Contact me</a>
              </div>

              <!-- First Face to show -->
              <div class="face two green">
                <h3>My training problem... </h3>
                <div class="flipbox-tooltip white">
                  <p>Click to find out how <br> training can help</p>
                  <i class="ti-angle-double-down icon-sm flipbox-icon white"></i>
                </div>
              </div>

              <div class="face three green">
                <p>
                  3
                </p>
              </div>

              <!-- Roll up: Third Face to show (upside down) -->
              <div class="face four flipbox-frame training">
                <div class="flipbox-tooltip white flipbox-image">
                  <p>Ready to start training?</p>
                  <i class="ti-angle-double-down icon-sm flipbox-icon white"></i>
                </div>
              </div>

              <div class="face five green">
                5
              </div>

              <!-- Roll up: Fourth Face to show (upside down) -->
              <div class="face six green">
                <h4>Resource Guarding Training</h4>
                <p class="lead">How we work on resource guarding...</p>
                <div class="flipbox-tooltip white">
                    <p>See this training in action</p>
                    <i class="ti-angle-double-down icon-sm flipbox-icon white"></i>
                  </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3" style="margin-right: 8%;">
        <div class="wrapper">
          <div id="experiment">
            <div id="cube6">

              <!-- Roll up: Fourth Face to show -->
              <div class="face one green">
                <h4>Schedule a consultation</h4>
                <p>
                  I offer free 30 minute consultations so I can get to know you and your dog. We'll discuss your needs and goals and then go over my training methods so we can begin to construct a training plan together!
                </p>
                <a class="btn" href="/contact">Contact me</a>
              </div>

              <!-- First Face to show -->
              <div class="face two green">
                <h3>My training problem... </h3>
                <div class="flipbox-tooltip white">
                    <p>Click to find out how <br> training can help</p>
                    <i class="ti-angle-double-down icon-sm flipbox-icon white"></i>
                  </div>
              </div>

              <div class="face three green">
                <p>
                  3
                </p>
              </div>

              <!-- Roll up: Third Face to show (upside down) -->
              <div class="face four green flipbox-frame training">
                <div class="flipbox-tooltip white flipbox-image">
                    <p>Ready to start training?</p>
                    <i class="ti-angle-double-down icon-sm flipbox-icon white"></i>
                  </div>
              </div>

              <div class="face five green">
                5
              </div>

              <!-- Roll up: Fourth Face to show (upside down) -->
              <div class="face six green">
                <h4>Reactivity</h4>
                <p class="lead">How we work on reactivity...</p>
                <div class="flipbox-tooltip white">
                    <p>See this training in action</p>
                    <i class="ti-angle-double-down icon-sm flipbox-icon white"></i>
                  </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
    <!--end of row-->

  </div>
  <!--end of container-->
</section>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="/js/experiment.js"></script>

