

<script type="text/html" id="template-gallery">
  <li id="spinner" onload="loadImage()" >
    <a href="img/pet-care/pet-care.jpg" data-lightbox="Gallery">
      <div class="image-tile inner-title hover-reveal text-center">
        <img alt="Captioned Image" src="img/pet-care/pet-care.jpg">
        <div class="title">
          <p class="insert-caption lead mb0"></p>
        </div>
      </div>
    </a>
  </li>
</script>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4 class="uppercase mb16">Photo Gallery</h4>
        <p class="lead mb64">
          Click on a photo to see a larger image. Use Left & Right arrow keys to progress through images.
        </p>
      </div>
    </div>
    <!--end of row-->
    <div class="row">
      <div class="col-sm-12">
        <div class="form-loading">
          <div class="spinner"></div>
        </div>
        <div class="lightbox-grid square-thumbs" data-gallery-title="Gallery">
          <ul class="dogs">
          </ul>
        </div>
        <!--end of lightbox gallery-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
