
  <section class="cover fullscreen image-slider slider-all-controls controls-inside parallax">
    <ul class="slides">
      <li class="overlay image-bg">
        <div class="background-image-holder">
          <img alt="image" class="background-image" src="img/pack-hikes/pack-hike-at-river.jpg" />
        </div>
        <div class="container v-align-transform">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
              <h1 class="mb40 mb-xs-16 large">Pack Hikes</h1>
              <img class="header-logo" src="/img/logos/badge-logo/medium/white-badge.png">
              <h6 class="uppercase mb16">An Adventure for your dog!</h6>
              <p class="lead mb24">
                Dogs run and play with a trusted pack in the
                <br />beautiful landscape of the Pacific Northwest.
              </p>
              <div class="lead mb40">
                <a class="btn btn-sm btn-white" href="/pack-hikes">Learn More</a>
              </div>
              <a class="btn btn btn-filled mb40" href="/contact">Contact Erin</a>
              <!-- <a class="btn btn-filled btn-lg mb80" href="/trainer-space">Take the Trainer Survey >></a> -->
            </div>
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </li>
      <li class="overlay image-bg">
        <div class="background-image-holder">
          <img alt="image" class="background-image" src="img/training/training-downtown.jpg" />
        </div>
        <div class="container v-align-transform">
          <div class="row">
            <div class="col-sm-offset-1 text-center col-sm-10">
              <h1 class="mb40 mb-xs-16 large">Training &amp; Classes</h1>
              <img class="header-logo" src="/img/logos/badge-logo/medium/white-badge.png">
              <h6 class="uppercase mb16">in Small Groups or Private Lessons</h6>
              <p class="lead mb24">
                Socialization &amp; Behavior classes as well as
                <br />introductory competitive obedience courses.
              </p>
              <div class="lead mb40">
                <a class="btn btn-sm btn-white" href="/training">Learn More</a>
              </div>
              <a class="btn btn btn-filled mb40" href="/contact">Contact Erin</a>
              <!-- <a class="btn btn-filled btn-lg mb80" href="/trainer-space">Take the Trainer Survey >></a> -->
            </div>
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </li>
      <li class="overlay image-bg">
        <div class="background-image-holder">
          <img alt="image" class="background-image" src="img/pet-care/puppy-group2.jpg" />
        </div>
        <div class="container v-align-transform">
          <div class="row">
            <div class="col-sm-offset-1 text-center col-sm-10">
              <h1 class="mb40 mb-xs-16 large">Pet Care</h1>
              <img class="header-logo" src="/img/logos/badge-logo/medium/white-badge.png">
              <h6 class="uppercase mb16">My home is your dog's home!</h6>
              <p class="lead mb24">
                When your dog joins my pack, my priority is to
                <br />ensure they feel loved and comfortable.
              </p>
              <div class="lead mb40">
                <a class="btn btn-sm btn-white" href="/pet-care">Learn More</a>
              </div>
              <a class="btn btn btn-filled mb40" href="/contact">Contact Erin</a>
              <!-- <h4>Flexible Training Space for Busy Trainers</h4>
              <p class="lead mb24">
                Because you don't always need a whole indoor training space <br> and when you do need it, it's there; ready and waiting!
              </p> -->
              <!-- <a class="btn btn-filled btn-lg mb80" href="/trainer-space">Take the Trainer Survey >></a> -->
            </div>
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </li>
    </ul>
  </section>

  <!-- BEGIN icon boxes -->
  <section class="pb32">
    <!-- <div class="background-image-holder">
      <img alt="Background" class="background-image" src="img/skully-dahlia-oatis.jpg" />
    </div> -->
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 class="uppercase">Join the Pack</h2>
          <h3>
            For an experience you and your dog won't forget!
          </h3>
        </div>
      </div>
      <!--end of row-->
      <div class="row">
        <div class="col-sm-4">
          <div class="feature feature-2 boxed">
            <div class="text-center">
              <a href="/pack-hikes">
                <i class="ti-image icon-sm"></i>
                <h5 class="uppercase">Pack Hikes</h5>
              </a>
            </div>
            <p>
              A pack hike is an alternative way to exercise and socialize your dog. Dogs get the freedom to run and play with a trusted pack. These hikes will leave your dog happy, tired, and well trained!
            </p>
          </div>
          <!--end of feature-->
        </div>
        <div class="col-sm-4">
          <div class="feature feature-2 boxed">
            <div class="text-center">
              <a href="/training">
                <i class="ti-medall icon"></i>
                <h5 class="uppercase">Training</h5>
              </a>
            </div>
            <p>
              I offer a variety of small group and private socialization and behavior classes as well as some basic competitive obedience courses. Visit the training page to see a list of classes offered!
            </p>
          </div>
          <!--end of feature-->
        </div>
        <div class="col-sm-4">
          <div class="feature feature-2 boxed">
            <div class="text-center">
              <a href="/pet-care">
                <i class="ti-home icon-sm"></i>
                <h5 class="uppercase">Pet Care</h5>
              </a>
            </div>
            <p>
              When your dog joins my pack, my priority is to ensure they feel loved and comfortable. I have experience with a wide range of dog breeds, ages, and backgrounds.
            </p>
          </div>
          <!--end of feature-->
        </div>
      </div>
      <!--end of row-->
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <!-- END icon boxes -->

  <!-- Begin Client Testimony -->
  <section class="bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <h3 class="mb64 uppercase">People &nbsp;
            <i class="ti-heart"></i>&nbsp; the Dog Lady</h3>
          <div class="testimonials text-slider slider-arrow-controls">
            <ul class="slides testimonials">
              <li style="text-align:left; width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                <p>
                  Our 5-month-old Australian Shepherd, Tater Tot began to display a lot of fear and nervousness.  The little walks we did in the neighborhood with him became a nightmare. I had him enrolled into a several puppy training and socializing classes. He passed all classes with flying colors but we noticed he was displaying more nervous fear based behavior toward other dogs and owners after class. We were becoming very concerned and needed to find a trainer who could work with a puppy that might get straight A's in the classroom but couldn't get along out on the playground.
                </p>
                <p>
                  The Dog lady came highly recommended by a dear friend who couldn't say enough great things about her. She met evaluated Tater Tot's behavior and suggested we join her "Stranger Danger" group course weekly. This class suited all of Tater Tot's big fear based phobia's.  Tater Tot was placed in safely contained scenarios where he could have success in meeting his fears with confidence, security and reward.
                </p>
                <p>
                  Her methodology was beyond anything we had ever experienced in other puppy courses.  She was able to pinpoint specific anxiety fear based triggers that Tater Tot needed to work, and almost more importantly trained us to help him navigate these situations.
                </p>
                <p>
                  Tater Tot began to turn the corner on many of his anxiety triggers. His behavior is more calm and less anxious when we go out in public now.  We felt he was having so much success with training that it was time to take it to the streets. Just last week we were able to not only safely, but happily walk him through the Rose Festival and Saturday Market.
                </p>
                <p>
                  I could not be more impressed with how Erin has taken this scared anxious puppy and molded his behavior into a confident relaxed little guy.
                </p>
                <div class="quote-author">
                  <img alt="Avatar" src="img/training/tater-tot.jpg" draggable="false">
                  <h6 class="uppercase">Adrienne Knopf </h6>
                  <span>Small Group Lessons Client</span>
                </div>
              </li>
              <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;" class="flex-active-slide">
                <p class="lead">
                  I have known and worked with Erin for just over a year. I can say without reservation that Erin is an incredibly skilled, compassionate, empathetic, and infinitely patient dog trainer. She helped me work with my dog to deal with some distressing behavior problems - most of which are entirely under control now.
                </p>

                <p class="lead">
                  Maybe the most valuable thing about her training style is that she is so encouraging, positive, and supportive. I never feel like I have screwed up or done anything wrong - which translates to my dog as well - so we both feel successful and in turn are successful.
                </p>

                <p class="lead">
                  To be clear - Erin is also a fantastic dog sitter, walker, and overnight care provider! I think her ability to work with dogs AND humans so incredibly well in a training setting means she is entirely capable and prepared to handle the everyday challenges caring for a dog entails.
                </p>
                <div class="quote-author">
                  <img alt="Avatar" src="img/training/mia.png" draggable="false">
                  <h6 class="uppercase">Erica Lauer Vose</h6>
                  <span>Small Group &amp; Rally Client</span>
                </div>
              </li>
              <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                <p class="lead">
                  We had a couple of stressful weeks recently so I was worried about leaving my dog with someone else for the weekend in a stressed-out state. But I shouldn't have worried - because she had a fantastic time with Erin!
                </p>
                <p class="lead">
                  She got lots of exercise, lots of cuddle time and was a happy relaxed dog when I came home. I'm so grateful we have such a fantastic dog care person to call on when we need to leave Mia at home.
                </p>
                <div class="quote-author">
                  <img alt="Avatar" src="img/training/erica&mia.png" draggable="false">
                  <h6 class="uppercase">Chuck Lauer Vose</h6>
                  <span>Pet Care Client</span>
                </div>
              </li>
            </ul>
            <ul class="flex-direction-nav">
              <li><a class="flex-prev" href="#">Previous</a></li>
              <li><a class="flex-next" href="#">Next</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <!-- End Client Testimony -->

  <!-- BEGIN MAILCHIMP Sign-up form -->
  <!-- <section>
    <div class="container">
      <div class="col-md-6" style="margin-left: 25%;"> -->
        <!-- Begin MailChimp Signup Form -->
        <!-- <div id="mc_embed_signup">
          <form action="//gmail.us13.list-manage.com/subscribe/post?u=95d8229e12ac545d969d3a2b7&amp;id=4e1f6862de" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <h3>Get the latest news and updates</h3>
              <h4>Subscribe to the mailing list</h4>
              <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
              <div id="input-style" class="mc-field-group">
                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
              </div>
              <div class="mc-field-group">
                <label for="mce-FNAME">First Name </label>
                <input type="text" value="" name="FNAME" class="mail-style" id="mce-FNAME">
              </div>
              <div class="mc-field-group">
                <label for="mce-LNAME">Last Name </label>
                <input type="text" value="" name="LNAME" class="mail-style" id="mce-LNAME">
              </div>
              <p>
                <a href="http://us13.campaign-archive1.com/home/?u=95d8229e12ac545d969d3a2b7&id=4e1f6862de" title="View previous campaigns">View previous campaigns.</a>
              </p>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <!--<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_95d8229e12ac545d969d3a2b7_4e1f6862de" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
          </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script> -->
        <!--End mc_embed_signup-->
<!--       </div>
    </div>
  </section> -->

  <hr style="margin-top: 4em; margin-bottom: 4em; border-color: transparent;">
</div>





