<style type="text/css">
  .firstcharacter {
    color: #47b475;
    float: left;
    font-size: 40px;
    line-height: 28px;
    font-weight: 500;
    padding-top: 4px;
    padding-right: 4px;
    padding-left: 3px;
  }
  .accordion-2 .content p {
      padding: 16px 0;
      padding-top: 16px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
  }
  .accordion-2 .content p.pblast {
      padding: 16px 0;
      padding-top: 16px;
      padding-right: 0px;
      padding-bottom: 16px;
      padding-left: 0px;
  }
  li span.bullets, li.bullets {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
  /*.ti-arrow-right {
    font-size:16px;
  }*/
</style>

<section class="pt120 pb120 image-bg overlay">
  <div class="background-image-holder">
     <img alt="Background" class="background-image" src="img/pack-hikes/3-dogs-water-tennis-ball-header.jpg" />
    <img alt="Background" class="background-image" src="img/pack-hikes/3-dogs-water-frisbee-header.jpg" />
  </div>
  <div class="container">
    <div class="row v-align-children">
      <div class="col-sm-8 mb-xs-80">
        <h2 class="mb16">Pack Hikes with the Dog Lady</h2>
        <h4 class="mb32">Dogs run and play with a trusted pack in the beautiful landscape of the Pacific Northwest. These hikes will leave your dog happy, tired, and well trained!</h4>
        <!-- <a class="btn btn-filled btn-lg mb0" href="#meet-the-pack">Meet the Pack</a> -->
      </div>
      <div class="col-sm-4 text-center text-left-xs">
        <div class="modal-container">
          <div class="play-button btn-modal large inline"></div>
          <div class="foundry_modal no-bg">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/lGMKkCY71iE" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <!--end of modal video -->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section>
  <div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
        <div class="tabbed-content text-tabs">
          <ul class="tabs">
            <li class="active">
              <div class="tab-title">
                <span>FAQ</span>
              </div>
              <div class="tab-content tab-content-training text-left col-md-10 col-sm-10">
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                    <ul class="accordion accordion-2 one-open">
                      <li>
                        <div class="title">
                          <h4 class="inline-block mb0"><span class="firstcharacter">W</span>hat is a Pack Hike?</h4>
                        </div>
                        <div class="content">
                          <p class="mb0">
                            A pack hike is an alternative way to exercise and socialize your dog.  Pack Hikes give your dog a chance to have a change in scenery once or twice a week, have a group of friends that only consists of five to seven dogs, and the ability to play and run in a way few daycare facilities can provide.
                          </p>
                          <p class="mb0">
                            Training throughout the whole hike is an important part of the Pack Hike, it provides mental stimulation and teaches critical skills like; recall, proper ways to  meet new dogs, manners for  meeting strangers, and appropriate play amongst the pack members.
                          <p class="mb0 pblast">
                            With the freedom to run and play with a trusted pack in the beautiful landscape of the Pacific Northwest, these hikes will leave your dog happy, tired, and well trained!
                          </p>
                        </div>
                      </li>
                      <li>
                        <div class="title">
                          <h4 class="inline-block mb0"><span class="firstcharacter">W</span>ho are Pack Hikes for?</h4>
                        </div>
                        <div class="content">
                          <p class="lead mb0"><strong>Pack Hikes are for every dog!</strong></p>
                          <p class="mb0">
                            Some dogs may find the Pack Hike fits their needs or provides that critical break from routine that can make all the difference in their behavior and energy levels.
                          </p>
                          <p class="mb0">
                            Not every dog thrives in a  daycare facility. Even those excellent facilities that  provide socialization, exercise and stimulation may not be quite right for some dogs.  Dogs who tend to seclude themselves, act out aggressively if they feel overwhelmed, or simply “get bored” after months of the same routine are ideal candidates for the Pack Hike.
                          </p>
                          <p>
                            The Pack Hike is a great outlet for dogs to burn off extra energy and an easier place to socialize and make friends in an intimate, small group setting.
                          </p>
                        </div>
                      </li>
                      <li>
                        <div class="title">
                          <h4 class="inline-block mb0"><span class="firstcharacter">H</span>ow do you handle all those dogs?</h4>
                        </div>
                        <div class="content">
                          <p>
                            Answer.
                          </p>
                        </div>
                      </li>
                      <li>
                        <div class="title">
                          <h4 class="inline-block mb0"><span class="firstcharacter">C</span>an my dog join a pack hike if she/he has reactivity issues?</h4>
                        </div>
                        <div class="content">
                          <p>
                            Unfortunately, we are unable to accommodate dogs with dog aggression issues on the Pack Hikes, but they are very welcome for private sessions. Please contact Erin if you have any questions about this.
                          </p>
                        </div>
                      </li>
                      <li>
                        <div class="title">
                          <h4 class="inline-block mb0"><span class="firstcharacter">W</span>here do you go on a Pack Hike?</h4>
                        </div>
                        <div class="content">
                          <p>
                            Answer.
                          </p>
                        </div>
                      </li>
                      <li>
                        <div class="title">
                          <h4 class="inline-block mb0"><span class="firstcharacter">W</span>hat happens when weather is bad?</h4>
                        </div>
                        <div class="content">
                          <p>
                            Answer.
                          </p>
                        </div>
                      </li>
                      <li>
                        <div class="title">
                          <h4 class="inline-block mb0"><span class="firstcharacter">W</span>hat safety precautions do you take?</h4>
                        </div>
                        <div class="content">
                          <p>
                            Answer.
                          </p>
                        </div>
                      </li>
                      <li>
                        <div class="title">
                          <h4 class="inline-block mb0"><span class="firstcharacter">Q</span>uestion?</h4>
                        </div>
                        <div class="content">
                          <p>
                            Answer.
                          </p>
                        </div>
                      </li>
                    </ul>
                    <!--end of accordion-->
                  </div>
                </div>

                <!-- <p class="lead"><strong>Why Pack Hikes?</strong></p>
                <p>
                  When I started pack hikes it was only with my two dogs and my girlfriend’s dog. The whole purpose of it at first was to get them out as a pack together so that they would get used to each other.
                </p>
                <p>
                  Little did we know, the amazing impact it would really have. It changed our dogs from not being friendly to one another, to now being best friends. It gave us the ability to consistently work on recall and have it actually stick. They would go into a pack mentality and began doing everything together.
                </p>
                <p>
                  We now have three dogs that love one another, and have fantastic recall.. The fact that I can bring this joy and happiness to other people and their dogs makes this one of the best careers I could have ever chosen to do.
                </p> -->

              </div>
            </li>
            <li>
              <div class="tab-title">
                <span>Schedule</span>
              </div>
              <div class="tab-content text-left tab-content-training col-md-10 col-sm-10 feature-3">
                <p class="lead">
                  <strong>A Typical Pack Hike Schedule: </strong><br>
                  The entire Pack Hike adventure starts around 7:00 AM and ends around 12:30 PM.
                </p>
                <ul data-bullet="ti-star">
                  <li><strong>7:00 AM: </strong>We begin our pick-up route. Pick-up times may vary depending on where you live. Each dog is properly kenneled in the car for safety.</li>
                  <li><strong>9:00 AM: </strong>We arrive at one of our Pack Hike locations.</li>
                  <li><strong>9:00 - 11:00 AM: </strong>(times may vary depending on the day - weather, traffic, etc.) We do our on-leash portion of the Pack  Hike.</li>
                  <li><strong>12:00 - 12:30 PM:  </strong>Dogs are dropped off back home. Drop off times may vary depending on traffic and weather.</li>
                </ul>

                <hr class="mb0" style="margin-top:2em; padding-bottom:2em; opacity: .4;">
                <p class="lead"><strong>During the ON-LEASH Portion of the Pack Hike:</strong></p>
                <p>
                  All dogs are on-leash until we arrive safely to off-leash area.
                  This part of the Pack Hike is where we really work with the dogs to train critical trail skills like greeting other people and dogs, recall, and  appropriate play with other dogs.
                </p>
                <p>
                  We use a box clicker and a variety of treats ( string cheese, a non grain treat, or a hot dogs) during training. I am familiar with dog allergies as well - talk to me if you have any concerns about this.
                </p>

                <p class="lead"><strong>During the OFF-LEASH Portion of the Pack Hike:</strong></p>
                </p>
                <p>
                  During the off-leash portion of the day, we stay as a close pack.  We head to our first open space for play time. There are a few open fields we like to go to first where we throw ball, toss a frisbee, or interact with them to get the pack to play and really stretch their legs.
                </p>
                <p>
                  Once we see happy faces and flopping tongues we have a water break. We always provide plenty of water breaks and carry water and multiple travel bowls with us at all times.
                </p>

                <!-- <p class="lead"><strong>At the River (summer only):</strong></p>
                <p>
                  Next it’s time for the river. We only spend about 30 minutes at the river depending on the energy of the day.
                </p>
                <p>
                  All new dogs wear a life vest for safety, and all dogs under 20 pounds must wear one at all times while at the river.
                </p>
                <p>
                  This is where we allow our pack to  interact with dogs already at the river  in a controlled manner.  With a smaller pack and the  strong recall work along with the trust and respect already developed during the first part of the Pack Hike, we are able to ensure the interactions are controlled and safe.
                </p>
                <p>
                 If, for any reason, the leader of the pack decides the river is unfit for that pack of the day, we will spend more time hiking or throwing ball in the field.
                </p> -->
              </div>
            </li>
            <li>
              <div class="tab-title">
                <span>Join</span>
              </div>
              <div class="tab-content text-left tab-content-training col-md-10 col-sm-10 feature-3">

                <h4>How to Join a Pack Hike:</h4>
                <ul data-bullet="ti-check">
                  <li class="bullets">You must complete a Pack Hike Prep training package with me before joining a pack hike.
                    <div class="icon-container list-group-item">
                      <div>
                        <span class="ti-arrow-right"></span><span class="icon-name">Pack Hike Prep lessons occur once a week for 4 consecutive weeks</span>
                      </div>
                      <div>
                        <span class="ti-arrow-right"></span><span class="icon-name">Pack Hike Prep lessons cover recall, leash handling, clicker training, and establishing a bond between your dog and I.</span>
                      </div>
                    </div>
                  </li>
                  <li class="bullets">A waiver must be signed before any dog participates in  a Pack Hike.</li>
                  <li class="bullets">Once I feel your dog is ready, I will determine which pack is right for him/her to join.</li>
                </ul>
                <h4 class="mt32">Getting ready to go out on a Pack Hike:</h4>
                <ul data-bullet="ti-check">
                  <li class="bullets"><span style="font-size: 1.1em; font-weight: 600;">Treats: </span> I provide treats, however, if your dog has a particular food allergy you will need to provide proper treats.</li>
                  <li class="bullets"><span style="font-size: 1.1em; font-weight: 600;">Gear: </span> You may want to send your dog with a rain coat or jacket if it is especially wet or cold and if your dog has a thin or very short coat.</li>
                  <li class="bullets"><span style="font-size: 1.1em; font-weight: 600;">Safety: </span> I carry extra water, bowls, treats, and first aid gear at all times on every Pack Hike. If your dog has any special needs, please discuss these with me prior to the first Pack Hike.</li>
              </div>
            </li>
            <li>
              <div class="tab-title">
                <span>Pricing</span>
              </div>
              <div class="tab-content text-left tab-content-training col-md-10 col-sm-10 feature-3">
                <h4>Pack Hike Pricing:</h4>
                <ul data-bullet="ti-star">
                  <li><span class="bullets">$50/Pack Hike</span> <em>*Pack Hikes can be purchased in packages of 4 or 6 and can be used weekly weekly or bi-weekly</em></li>
                  <li><span class="bullets">$280 for a Pack Hike Prep package consisting of 4 lessons </span><em>*Get a discount off the $75/lesson when you purchase a package.</em></li>
                </ul>
                <br>
                <div class="alert alert-danger alert-dismissible" role="alert">
                  <p class="lead"><span><strong>Cancellation Policy: </strong></span>For full refund, Pack Hikes must be canceled at least two business days prior to scheduled hike.</p>
                </div>
                <p class="lead"></p>
                <h4 style="font-size:24px; line-height:32px; font-weight:300!important;">Please Note:</h4>
                <ul data-bullet="ti-alert">
                  <li class="bullets">A waiver must be signed before any dog participates in  a Pack Hike</li>
                  <li class="bullets">Pack Hikes must be scheduled one week in advance</li>
                  <li class="bullets">Payment is required in advance of each Pack Hike</li>
                  <li class="bullets">You must have completed <strong><em>4 consecutive prep lessons</em></strong> prior to scheduling your first Pack Hike</li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <!--end of button tabs-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->

</section>

  <div>
    <hr class="mb0" style="width:90%; margin-left:5%; margin-right: 5%; opacity: .5;">
    <hr class="mb0">
  </div>

  <section>
      <div class="container">
          <div class="row">
              <div class="col-sm-12 text-center">
                  <h4 class="uppercase mb80">Text Accordions</h4>
              </div>
          </div>
          <!--end of row-->
          <div class="row">
              <div class="col-sm-6">
                  <h5 class="uppercase mb40">One At A Time</h5>
                  <ul class="accordion accordion-2 one-open">
                      <li class="active">
                          <div class="title">
                              <span>Simple Panels</span>
                          </div>
                          <div class="content">
                              <p>
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                              </p>
                          </div>
                      </li>
                      <li>
                          <div class="title">
                              <span>Toggle Information</span>
                          </div>
                          <div class="content">
                              <p>
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                              </p>
                          </div>
                      </li>
                      <li>
                          <div class="title">
                              <span>Nice Touch</span>
                          </div>
                          <div class="content">
                              <p>
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                              </p>
                          </div>
                      </li>
                  </ul>
                  <!--end of accordion-->
              </div>
              <div class="col-sm-6">
                  <h5 class="uppercase mb40">Multiple Open</h5>
                  <ul class="accordion accordion-2">
                      <li>
                          <div class="title">
                              <span>Simple Panels</span>
                          </div>
                          <div class="content">
                              <p>
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                              </p>
                          </div>
                      </li>
                      <li>
                          <div class="title">
                              <span>Toggle Information</span>
                          </div>
                          <div class="content">
                              <p>
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                              </p>
                          </div>
                      </li>
                      <li>
                          <div class="title">
                              <span>Nice Touch</span>
                          </div>
                          <div class="content">
                              <p>
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                              </p>
                          </div>
                      </li>
                  </ul>
                  <!--end of accordion-->
              </div>
          </div>
          <!--end of row-->
      </div>
      <!--end of container-->
  </section>