<section class="pt120 pb80 image-bg" style="padding-bottom: 50px;">
  <div class="background-image-holder">
    <!-- <img alt="Background" class="background-image" src="img/pack-hikes/3-dogs-water-tennis-ball-header.jpg" /> -->
    <img alt="Background" class="background-image" src="img/pack-hikes/dogs-running2.jpg" />
  </div>
  <div style="margin-left: 4em; margin-top: 8em;">
    <div class="row mb8 v-align-children overlay">
      <div class="col-md-12">
        <h1 class="mb8" style="font-size: 3em; font-weight: 300;">Dog training & socialization through play</h1>
        <h2 class="mb4" style="font-size: 1.75em; font-weight: 300;">The Down to Earth Dog Lady makes training fun for humans and dogs alike</h2>
      </div>

    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<style type="text/css">
  ul.bullet-list {
      display: block;
      list-style-type: disc;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-padding-start: 30px;
      line-height: 2em;
  }
  ul.bullet-list li {
    padding-left: 5px;
  }
  .container{
    margin-left: 3%;
    margin-right: 3%;
  }
  .cast-shadow {
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.4);
  }
  .align-bottom {
    position: absolute;
    bottom: 50;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 2;
  }
</style>



<section>
  <div class="container">

    <div class="row mb80">
      <div class="col-md-12">
        <div class="col-md-6 col-sm-6 mb-xs-24">
          <img class="cast-shadow" alt="Screenshot" src="img/training/erin-dahlia1.jpg">
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="container">
            <div class="col-md-7 col-sm-7">
              <h3 style="font-size: 2.25em;">Meet Erin <span class="uppercase" style="font-weight: 400; color: rgb(102, 102, 102);">The Down to Earth Dog Lady</span></h3>
              <h4>Erin's enthusiastic, supportive, and encouraging training style makes training fun for humans and dogs alike!</h4>
              <ul class="bullet-list">
                <li>10+ years of experience working in the dog industry</li>
                <li>Certified professional dog trainer, (CCPDT)</li>
                <li>Karen Pryor clicker training partner</li>
                <!-- <li>Certified in pet first aid</li> -->
                <li>Brings a wide range of knowledge and experience working in dog health care, day care, and nutrition to dog training</li>
              </ul>
              <p>
                Contact Erin: <br>
                <span style="margin-left: 2em;">
                  <strong>E:</strong> <a href="mailto:downtoearthdoglady@gmail.com">downtoearthdoglady@gmail.com</a><br></span>
                <span style="margin-left: 2em;">
                  <strong>P:</strong> <a href="tel:610-812-2880">(610) 812-2880</a>
                </span>
              </p>
              <div class="col-md-3">
                <img style="width: 200px;"  src="/img/logos/badge-logo/medium/black-badge.png">

              </div>
              <div class="col-md-8">
                <p class="lead">Click the button below to download a .zip file of the Down to Earth Dog Lady Logo pack.</p>
                <a href="/down-to-earth-dog-lady-media-logo-pack.zip"><span class="btn btn-sm">Download Logo Assets</span></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!--end of row-->
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 col-sm-6 mb-xs-24">
          <h3>Join the <span class="uppercase" style="font-weight: 400; color: rgb(102, 102, 102);">Pack Hike</span></h3>
          <h4>An outdoor adventure for dogs</h4>
          <p class="lead mb16">This is what dogs who hang with the Down to Earth Dog Lady get up to while their humans are at work.</p>
            <ul class="bullet-list">
              <li>Dogs run and play at the Sandy River Delta 1,000 acre dog park</li>
              <li>Each pack consists of 4 - 7 dogs, intentionally grouped to have balanced energy levels and positive group dynamics</li>
              <li>Once a group is assembled, dogs meet and the pack begins to gel as they head out on regular weekly adventures</li>
              <li>Dogs are supervised and professionally managed by an experienced trainer</li>
              <li>Ongoing training and socialization work is an integral part of every hike</li>
              <li>Prior to joining a Pack Hike, Erin works one-on-one with each dog to make sure the dog's needs are being met by the pack and the Pack Hike experience</li>
              <li>Send your dog on a Pack Hike by contacting Erin: <br>
                <strong>E:</strong> <a href="mailto:downtoearthdoglady@gmail.com">downtoearthdoglady@gmail.com</a><br>
                <strong>P:</strong> <a href="tel:610-812-2880">(610) 812-2880</a>
              </li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="container">
            <iframe  class="cast-shadow" width="600" height="338" src="https://www.youtube.com/embed/lGMKkCY71iE" frameborder="0" allowfullscreen></iframe>
            <!--end of embed video container-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
