
<style type="text/css">
  @media (max-width: 767px) {
    #team img.team {
      margin-bottom: 5%;
    }
    #team img.team-dog {
      /*float: right;
      max-width: 200px;*/
    }
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: 5%;
        margin-left: 5%;
    }
  }
  .accordion li.active .content {
    max-height: 100%;
  }

</style>

<section class="pt120 pb120 image-bg overlay">
  <div class="background-image-holder">
     <img alt="Background" class="background-image" src="img/about/dogladies2.jpg" />
    <img alt="Background" class="background-image" src="img/about/dogladies2.jpg" />
  </div>
  <div class="container mt80">
    <div class="row v-align-children">
      <div class="col-sm-8 mb-xs-80">
        <h2 class="mb0 mt120">Meet the Dog Ladies!</h2>
        <!-- <h4 class="mb32">Dogs run and play with a trusted pack in the beautiful landscape of the Pacific Northwest. These hikes will leave your dog happy, tired, and well trained!</h4> -->

      </div>
      <div class="col-sm-4 text-center text-left-xs">
        <!-- <div class="modal-container">
          <div class="play-button btn-modal large inline"></div>
          <div class="foundry_modal no-bg">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/lGMKkCY71iE" frameborder="0" allowfullscreen></iframe>
          </div>
        </div> -->
        <!--end of modal video -->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>


<section id="team">
  <div class="container">
    <div class="row">

      <!-- Begin Erin Bio -->
      <div class="row mb64">
        <div class="col-md-12 col-sm-12 mb16 mb-xs-16 p0">
          <div class="col-sm-5 mb0 mb-xs-0 ">
            <img class="team" alt="Pic" src="img/about/otis-erin-small.jpg" />
          </div>
          <div class="col-sm-7 mb0 mb-xs-0">
            <h5 class="uppercase mb0">Erin</h5>
            <span class="inline-block mb16 mb-xs-24">Trainer</span>
            <p>
              I have over ten years of experience working in the dog industry. I am a certified professional dog trainer, a Karen Pryor clicker training partner, and am certified in pet first aid.
            </p>
            <p>
              I actively train with my Australian shepherd in Rally-O competitions, and regularly train my pack out on Oregon’s amazing hiking trails year-round.
            </p>
            <p>
              In addition to my own pack, I have trained more dogs that I could count and have experience with puppies of all ages, adult rescue dogs, and purebred dogs.  <a href="/about">Read more about me &amp; my training style here</a>
            </p>
          </div>

          <!-- Begin Dog accordion -->
          <div class="col-md-7 col-sm-12 mb0 mb-xs-24 p24">
            <ul class="accordion accordion-1">
              <li class="">
                <div class="title">
                  <span>Meet Otis</span>
                </div>
                <div class="content">
                  <!-- Begin Otis Bio -->
                  <div class="col-sm-7 col-xs-12 mb8 mb-xs-0 pt24">
                    <h5 class="uppercase mb8">Otis</h5>
                    <p>
                      Otis is a spunky 8 year old terrier who has been with Erin since the beginning. His goofy characteristics and gentle charm makes him the perfect assistant  in most lessons with puppies, and out on the town lessons.
                    </p>
                    <p>
                      Otis understands what it’s like to work through tough problems - he has had his share! My clients take confidence from Otis that they can help their dog overcome issues too!  He’ll greet you and your dog with a kiss on the  face and make you laugh through any training session.
                    </p>
                  </div>
                  <div class="col-sm-5 col-xs-12 mb64 mb-xs-16 pt24 pt-xs-8">
                    <img class="team-dog" alt="Otis on a Pack Hike" src="img/pack-hikes/otis-1-small.jpg" />
                  </div>
                  <!-- End Otis Bio -->
                </div>
              </li>
              <li class="">
                <div class="title">
                  <span>Meet Dahlia</span>
                </div>
                <div class="content">
                  <!-- Begin Dahlia Bio -->
                  <div class="col-sm-7 col-xs-12 mb8 mb-xs-0 pt24">
                    <h5 class="uppercase mb8">Dahlia</h5>
                    <p>
                      Dahlia is one of our pack leaders on the Pack Hikes. She has been with me since she was  eight weeks old and we have been training since day one. Now, at two years old, she will help build your dog’s confidence out on the town, in home, and out on the trail. Dahlia brings a wonderful motherly and calming energy to any training session.
                    </p>
                    <p>
                      She helps me during leash aggression training sessions, and makes sure your dog comes back when called on hikes.  If your dog loves a good frisbee or fetch game Dahlia’s right there to provide extra fun!
                    </p>
                  </div>
                  <div class="col-sm-5 mb64 col-xs-12 mb-xs-16 mt-xs-0 pt24 pt-xs-8">
                    <img class="team-dog" alt="Otis on a Pack Hike" src="img/pack-hikes/dahlia-water-2-small.jpg" />
                  </div>
                  <!-- End Dahlia Bio -->
                </div>
              </li>
            </ul>
            <!--end of accordion-->
          </div>
          <!-- ENd Dog accordion -->
        </div>
      </div>
      <!-- End Erin Bio -->




      <!-- Begin Angyl Bio -->
      <div class="row mb64">
        <div class="col-md-12 col-sm-12 mb16 mb-xs-16 p0">
          <div class="col-sm-5 mb24 mb-xs-24">
            <img alt="Pic" src="img/about/angyl.jpg" />
          </div>
          <div class="col-sm-7 mb16 mb-xs-16">
            <h5 class="uppercase mb0">Angyl</h5>
            <span class="inline-block mb16 mb-xs-24">Hiker / Pet Sitter</span>
            <p>
              Angyl brings extensive shelter, training, and daycare experience to the Dog Lady team. Angyl also volunteers at the Oregon Humane Society. Angyl and Erin first met at a dog training facility/school in Milwaukee, Oregon four years ago.
            </p>
            <p>
              Since she was a little girl Angyl has always loved dogs. She was raised with Rottweilers of all shapes and sizes and knows what it takes to be a true Doglady. Her passion for working with dogs and rehabilitating them brings a unique and fun addition to the team.
            </p>
          </div>

          <!-- Begin Dog accordion -->
          <div class="col-md-7 col-sm-12 mb0 mb-xs-24 p24">
            <ul class="accordion accordion-1">
              <li class="">
                <div class="title">
                  <span>Meet Eve</span>
                </div>
                <div class="content">
                  <!-- Begin Eve Bio -->
                  <div class="col-sm-7 col-xs-12 mb8 mb-xs-0 pt24">
                    <h5 class="uppercase mb8">Eve</h5>
                    <p>
                      Eve is a beautiful 3 year old Belgian Malinois. Angyl and Eve have been together since Eve was born! Eve's parents are trained scent detection dogs who now work in prisons to search out cell phones.
                    </p>
                    <p>
                      Eve brings a fun and playful aspect to the pack that we have not had a chance to see before. You will also see Eve in many of Angyl's training sessions to help calm reactive dogs.
                    </p>
                  </div>
                  <div class="col-sm-5 col-xs-12 mb64 mb-xs-16 mt-xs-0 pt24 pt-xs-8">
                    <img alt="Otis on a Pack Hike" src="img/about/eve.jpg" />
                  </div>
                  <!-- End Eve Bio -->
                </div>
              </li>
            </ul>
            <!--end of accordion-->
          </div>
          <!-- End Dog accordion -->
        </div>
      </div>
      <!-- End Angyl Bio -->


      <!-- Begin Kim Bio -->
      <div class="row mb64">
        <div class="col-md-12 col-sm-12 mb16 mb-xs-16 p0">
          <div class="col-sm-5 mb24 mb-xs-24">
            <img alt="Pic" src="img/pack-hikes/kim-pack-hike-small.jpg" />
          </div>
          <div class="col-sm-7 mb16 mb-xs-16">
            <h5 class="uppercase mb0">Kim</h5>
            <span class="inline-block mb16 mb-xs-24">Hiker / Pet Sitter</span>
            <p>
              Kim has owned dogs since she was a little girl with her family in Phoenix, Arizona and she has loved all animals her entire life. But when she adopted her first puppy Skully, the canine lifestyle deal was sealed.
            </p>
            <p>
              Kim has been working with Skully since puppy-hood and loves everything about being a good dog owner.
            </p>
            <p>
              Since joining the pack hikes, Skully's recall and socialization skills improved immensely.  So much so, that Skully now joins us on some of our larger pack hike days to help keep that pack together and make sure everyone is having a good time!
            </p>
          </div>

          <!-- Begin Dog accordion -->
          <div class="col-md-7 col-xs-12 mb0 mb-xs-0 p24">
            <ul class="accordion accordion-1">
              <li class="">
                <div class="title">
                  <span>Meet Skully</span>
                </div>
                <div class="content">
                  <!-- Begin Skully Bio -->
                  <div class="col-sm-7 col-xs-12 mb8 mb-xs-0 pt24">
                    <h5 class="uppercase mb8">Skully</h5>
                    <p>
                      Skully is our sweet and boundlessly energetic  “fitness trainer”. If your dog is a playful runner Skully will provide an amazing amount of exercise while also making sure no one  strays too far from the pack. Skully and Kim have been together since Skully  was eight weeks old.
                    </p>
                    <p>
                      Now, at  three years old, Skully is not only a great pack leader, she is also a perfect example  of how loving, gentle, and trainable American Staffordshire terriers really can be.
                    </p>
                  </div>
                  <div class="col-sm-5 col-xs-12 mb64 mb-xs-16 mt-xs-48 pt24 pt-xs-8">
                    <img alt="Otis on a Pack Hike" src="img/pack-hikes/skully.jpg" />
                  </div>
                  <!-- End Skully Bio -->
                </div>
              </li>
            </ul>
            <!--end of accordion-->
          </div>
          <!-- End Dog accordion -->
        </div>
      </div>
      <!-- End Kim Bio -->



      <!-- Begin Angie Bio -->
      <div class="row mb64">
        <div class="col-md-12 col-sm-12 mb16 mb-xs-16 p0">
          <div class="col-sm-5 mb24 mb-xs-24">
            <img alt="Pic" src="img/pack-hikes/angie2.jpg" />
          </div>
          <div class="col-sm-7 mb16 mb-xs-16">
            <h5 class="uppercase mb0">Angie</h5>
            <span class="inline-block mb16 mb-xs-24">Dog Walker / Pet Sitter</span>
            <p>
              Angie's passion for dogs comes from the love and relationships she has had with them all her life; especially with her favorite fetch and hiking buddies; Gus and Jimmy.
            </p>
            <p>
              Angie began her career in the dog business as a groomer where she learned how to handle all kinds of dogs. She quickly realized she wanted to expand her knowledge about dogs so she began working at a dog daycare and later as an assistant at a veterinary office.
            </p>
            <p>
              She brings her considerable skill and passion for dogs and for learning about all aspects of dog care and training to The Down to Earth Dog Lady as part of the Pack Hike team and as a dog walker and daycare provider.
            </p>
          </div>
        </div>
      </div>
      <!-- End Angie Bio -->

    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>