<section class="page-title page-title-4 bg-secondary">
  <div class="container" style="margin-top: 50px;">
    <div class="row">
      <div class="col-md-6">
        <h3 class="uppercase mb0">About Erin</h3>
      </div>

    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<style type="text/css">
  .float-box {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .tab-image {
    float: right;
    width: 300px;
    margin-left: 20px;
  }
</style>

<section class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="float-box">
        <img alt="image" class="background-image tab-image" src="img/about/otis-erin.jpg"/>
      </div>
      <div class="float-box">
        <h3>Being the Dog Lady</h3>
        <!-- <p class="mb0">
          I have been a “Dog Lady” for as long as I can remember, but it all came together for me after adopting my first dog, Otis. When he and I first became our own little pack, he had some anxiety and aggression issues. I knew I needed to learn more about dog training in order to really help him.
        </p> -->
        <p class="mb0">
          We began the Karen Pryor clicker training program together, where I was able to help Otis overcome his anxiety and aggression issues. It was then that I realized being a dog trainer was my true calling. We graduated from the program in 2011. Five years and three dogs later, I have been training ever since!
        </p>
      </div>
      <div class="float-box">
        <h3>Being the Dog Lady</h3>
        <p class="mb0">
          I have been a “Dog Lady” for as long as I can remember, but it all came together for me after adopting my first dog, Otis. When he and I first became our own little pack, he had some anxiety and aggression issues. I knew I needed to learn more about dog training in order to really help him.
        </p>
        <p class="mb0">
          We began the Karen Pryor clicker training program together, where I was able to help Otis overcome his anxiety and aggression issues. It was then that I realized being a dog trainer was my true calling. We graduated from the program in 2011. Five years and three dogs later, I have been training ever since!
        </p>
      </div>
    </div>
  </div>
</section>