
<script type="text/html" id="template-event">
  <li>
    <div class="tab-title">
      <span><a href="" role="tab" data-toggle="tab"></a></span>
    </div>
    <div class="tab-content">
      <h5 class="uppercase content-title"></h5>
      <hr>
      <div style="display: block;" class="col-md-8 training-link">
        <div class="event-description">
          <!-- "description": "html": -->
        </div>
        <div class="mt32" style="font-size: 1.2em;">
          <h6 class="uppercase mb16 event-location">Private Lesson Location: "SE Portland"</h6>
          <ul class="mb24">
            <li class="event-date-time">
              <span style="margin-right: 10px; "><i class="ti-control-record"></i></span>Month Date, [<span class="event-start-date"></span>] 11:00 AM [<span class="event-start-time"></span>] - 12:00 PM [<span class="event-end-time"></span>]
            </li>
          </ul>
          <div class="event-registration-url">
            <a class="btn btn-filled btn-lg mb16" style="color: white; font-size: .9em;" href="link to event">Register for a Lesson</a>
          </div>
          <h5 style="color: red;">Please review my strategy for creating an href thingy in my button ... is there a better way to do this? Seems clunky....(see line 55 in custom.js)</h5>
        </div>

        <div style="margin-top: 1em;" class="alert alert-danger alert-dismissible" role="alert">
          <p><span style="font-weight: 500; font-size: 1.2em;"><strong>Cancellation Policy: </strong></span><br>
          For full refund, lessons must be canceled at least two business days prior to scheduled day.</p>
        </div>
        <h5 style="color: red;">
          The duplicate event listing below is because the javascript is duplicated in scripts.js & custom.js. I tried commenting out the "tabbed Content" in scripts.js and the duplicate goes away. It also works if I comment out lines 20 - 22 in custom.js, but will this mess things up later?
        </h5>
      </div>
      <div style="display: block;" class="col-md-4 event-image-holder">
        <div class="event-image">
          <img class="featurette-image img-responsive center-block" src="" alt="Generic placeholder image">
        </div>
        <h5 style="color: red;">How do I make the text "Generic placeholder image" into an actual alternative image?</h5>
        <h5 style="color: red;">Also, the image URL breaks the whole script - think it's because it's an https URL ... how to fix? (see line 56 in custom.js)</h5>
      </div>
    </div>
  </li>
</script>

<!-- BEGIN CLASS LISTINGS -->
<div class="tabbed-content button-tabs vertical">
  <ul class="tabs" id="eventTabs">

    <!-- this is where the template in the script above will go-->

  </ul>
</div>
<!--end of button tabs-->
