<!-- Event Location(s), Date(s), & Time(s) -->
<script type="text/html" id="template-appointment">
  <div>
    <h6 class="title uppercase mb8"><!-- title --></h6>
    <div class="description mb4"><!-- description --></div>
    <div class="appointment-price">
      <p class="mb8"><strong>Cost: $<span class="cost"></span></strong><!--  per <span class="name"></span>  --></p>
    </div>
    <!-- <div class="appointment-date-time">
      <ul class="date-time-list">
      Appointment Date Time #template-dateTimeList
      </ul>
    </div> -->
    <div class="registration-url mb16">
      <p class="mb4" style="font-size: .8em;"><em>To see dates and times, click the button below to go to the registration page.</em></p>
      <a class="btn btn-filled btn-sm mb16" style="color: white; font-size: .9em; font-weight: 600;" href="#"><span class="regBtnType" style="color: white; font-size: 1em; font-weight: 900;"><!-- Lesson Type Name Here --></span> Registration Page</a>
    </div>
  </div>
</script>

<script type="text/html">
  <li><!-- Insert Dates & Times here --></li>

</script>

<!-- Package Info  -->
<script type="text/html" id="template-package">
  <div>
    <h6 class="title uppercase mb8"><!-- title --></h6>
    <div class="description mb4"><!-- description --></div>

    <div class="registration-url mb16">
      <p class="mb4" style="font-size: .8em;"><em>To see dates and times, click the button below to go to the registration page.</em></p>
      <a class="btn btn-filled btn-sm mb16" style="color: white; font-size: .9em; font-weight: 600;" href="#"><span class="regBtnType" style="color: white; font-size: 1em; font-weight: 900;"><!-- Lesson Type Name Here --></span> Registration Page</a>
    </div>
  </div>
</script>

<script type="text/html" id="template-category">
  <li class="test">
    <!-- Begin Tab - tab title -->
    <div class="tab-title">
      <span><a href="#" role="tab" data-toggle="tab"></a></span>
    </div>

    <!-- Begin Tab Content -->
    <div class="tab-content">
      <h5 class="content-title uppercase"><!-- category name --></h5>
      <hr>
      <div class="description col-md-8 lead mb24" style="font-size: 1.2em;"><!-- description --></div>
      <!-- Event Image Holder -->
      <div style="display: block;" class="col-md-4 event-image-holder">
        <div class="event-image">
          <img class="featurette-image img-responsive center-block" src="/img/training/training-downtown-small.jpg" alt="Erin walking with two loving dogs">
        </div>
      </div>
      <div class="package-details">
        <!-- Add Package Details -->
      </div>

      <div style="display: block;" class="col-md-12 training-link">
        <div class="details">
        <!-- event details #template-appointment -->
        </div>

        <!-- Cancelation Policy -->
        <div style="margin-top: 1em;" class="alert alert-danger alert-dismissible" role="alert">
          <p><span style="font-weight: 500; font-size: 1.2em;"><strong>Cancellation Policy: </strong></span>
          For full refund, lessons must be canceled at least two business days prior to scheduled day.</p>
        </div>

        <!-- Begin Package Details & Registration Content -->
        <div class="package-details" style="display: none;">
          <span class="package-description-title">
            <p class="lead">Purchase a Private Lesson Package</p>
          </span>
          <!-- Package Description -->
          <div class="package-registration-description package-description-text">
            <!-- "description": "html": -->
          </div>
          <div class="package-registration-url">
            <a class="btn btn-filled btn-sm mb16" href="link to event">Purchase a Private Lesson Package</a>
          </div>
        </div>
        <!-- End Package Details & Registration Content -->

      </div>

    </div>
    <!-- END Tab Content -->
  </li>
</script>

<script type="text/html" id="template-backup">
  <iframe src="https://app.acuityscheduling.com/schedule.php?owner=12855510&appointmentType=1992045" width="50%" height="400" frameBorder="0"></iframe>
  <script src="https://d3gxy7nm8y4yjr.cloudfront.net/js/embed.js" type="text/javascript"></script>
</script>

<!-- BEGIN CLASS LISTINGS -->
<div id="page-training" class="tabbed-content button-tabs vertical">

  <ul class="tabs class-description" id="eventTabs">

    <!-- this is where the template in the script above will go-->

  </ul>
</div>
<!--end of button tabs-->

