<!-- Event Location(s), Date(s), & Time(s) -->

<style type="text/css">

</style>

<script type="text/html" id="template-category">
  <li>
    <!-- Begin Tab - tab title -->
    <div class="tab-title">
      <span><a href="#" role="tab" data-toggle="tab"></a></span>
    </div>

    <!-- Begin Tab Content -->
    <div class="tab-content">
      <h5 class="content-title uppercase"><!-- category name --></h5>
      <hr>

      <!-- Event Image Holder -->
      <div style="display: block;" class="event-image-holder tab-image">
        <div class="event-image">
          <img class="featurette-image img-responsive center-block" src="/img/training/training-downtown-small.jpg" alt="Erin walking with two loving dogs">
        </div>
      </div>

      <div class="description mb24 float-box" style="font-size: 1.1em;">
        <!-- Category description -->
      </div>

      <div class="package-details float-box">
        <!-- Add Package Details -->
      </div>

      <div class="training-link float-box">
        <div class="details">
          <div class="registration-url mb16" style="padding-left: 25%; padding-top: 5%;">
            <!-- <p class="mb4" style="font-size: .8em;">
              <em>To see dates and times, click the register button below to go to the registration page.</em>
            </p> -->
            <p>
              <a class="btn btn-filled btn-sm mb16" style="color: white; font-size: .9em; font-weight: 600;" href="mailto:downtoearthdoglady@gmail.com">
                Contact Erin
              </a>
              <!-- <a class="btn btn-filled btn-sm mb16" style="color: white; font-size: .9em; font-weight: 600;" href="https://app.acuityscheduling.com/schedule.php?owner=12855510">
                Register online
              </a> -->
            </p>
          </div>
        </div>
        <div class="row">
          <!-- Cancelation Policy -->
          <div class="alert alert-danger alert-dismissible float-box" role="alert">
            <p><span style="font-weight: 500; font-size: 1.2em;"><strong>Cancellation Policy: </strong></span>
            For full refund, lessons must be canceled at least two business days prior to scheduled day.</p>
          </div>
        </div>


        <!-- Begin Package Details & Registration Content -->
        <div class="package-details float-box" style="display: none;">
          <span class="package-description-title">
            <p class="lead">Purchase a Private Lesson Package</p>
          </span>
          <!-- Package Description -->
          <div class="package-registration-description package-description-text">
            <!-- "description": "html": -->
          </div>
          <div class="package-registration-url">
            <a class="btn btn-filled btn-sm mb16" href="https://app.acuityscheduling.com/schedule.php?owner=12855510">Purchase a Private Lesson Package</a>
          </div>
        </div>
        <!-- End Package Details & Registration Content -->

      </div>

    </div>
    <!-- END Tab Content -->
  </li>
</script>

<script type="text/html" id="template-backup">
  <iframe src="https://app.acuityscheduling.com/schedule.php?owner=12855510&appointmentType=1992045" width="50%" height="400" frameBorder="0"></iframe>
  <script src="https://d3gxy7nm8y4yjr.cloudfront.net/js/embed.js" type="text/javascript"></script>
</script>

<!-- BEGIN CLASS LISTINGS -->
<div id="page-training" class="tabbed-content button-tabs vertical">

  <ul class="tabs class-description" id="eventTabs">

    <!-- this is where the template in the script above will go-->

  </ul>
</div>
<!--end of button tabs-->

