<style type="text/css">
  .overlay:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #292929;
      opacity: 0.4;
      z-index: 2;
  }
  .lead {
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
  }
  .table-hover > tbody > tr:hover {
      background-color: #47b475;
      color: white;
  }
</style>
<section class="pt120 pb48 image-bg overlay">
  <div class="background-image-holder">
    <img alt="Background" class="background-image" src="img/trainer-space/trainer-space-header.jpg" />
  </div>
  <div class="container">
    <div class="row v-align-children">
      <div class="col-sm-8 mb-xs-80">
        <h2 class="mb16">Rent a Flexible Training Space</h2>
        <h4 class="mb32">Because you don't always need indoor training space <br> and when you do; it's there, ready and waiting!</h4>
        <hr>
        <h5 class="uppercase" style="margin-bottom: 10px;">Dog Trainer Survey</h5>
        <h5 style="margin-bottom: 10px;">Help us make the Down to Earth Dog Lady training space a truly collaborative, supportive community of dog trainers by taking a moment to fill out our survey and share your thoughts.<br><em>Trainers who complete the survey get 50% off their first 5 rentals!</em></h5>
        <!-- <h5 style="margin-bottom: 10px;">The Down to Earth Dog Lady is collaborating with business partners to explore ways for dog trainers to share training space and create a collaborative, supportive dog training community.  Help make this dream a reality by taking a moment to fill out our survey and share your thoughts.</h5> -->
        <a class="btn btn-filled btn-sm mb24" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfIGuYDRjwPXIZt7ssocohA22b-SyceTjTwGbPc_nr-QhdnYA/viewform">Go to Survey >></a>
        <!-- <a class="btn btn-filled btn-lg mb80" href="https://docs.google.com/forms/d/e/1FAIpQLSfIGuYDRjwPXIZt7ssocohA22b-SyceTjTwGbPc_nr-QhdnYA/viewform">Take the Trainer Survey >></a> -->
      </div>
      <div class="col-sm-4 text-left-xs mt80">
        <!-- <div class="modal-container">
          <div class="play-button btn-modal large inline"></div>
          <div class="foundry_modal no-bg">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/BcmUUlhald0" frameborder="0" allowfullscreen></iframe></iframe>
          </div>
        </div> -->
        <!--end of modal video-->
      </div>
    </div>
    <!--end of row-->
    <div class="row v-align-children">
      <div class="col-sm-10">
        
      </div>
    </div>
  </div>
  <!--end of container-->
</section>


<section style="padding-top: 50px;" >
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
        <h4 class="mb16">Dog training space available to rent for trainers and dog owners <br>who need a distraction-free place to work with their dogs.</h4>
        <p class="lead mb48"> This flexible training space is affordable, and easily accessible in inner SE Portland. <br>It comes ready-to-train with shared gear and supplies so you can focus on the important things - training!<br>Best of all, it's warm and dry in winter and cool in summer. Give us a call for a tour!</p>
        <div class="tabbed-content text-tabs">
          <ul class="tabs">
            <!-- BEGIN "SPACE DESCRIPTION" TAB -->
            <li class="active">
              <div class="tab-title">
                <span>Description</span>
              </div>
              <div class="tab-content">
                <div class="row">
                  <p class="lead">
                    These photos and descriptions below give a general sense of what the training space is like. <br> Please contact us if you have any questions or want to set up a tour.
                  </p>
                  <div class="col-md-12 col-sm-12">
                    <div class="horizontal-tile">
                      <div class="tile-left space-image bg-secondary space-description">
                        <div class="description">
                          <h4 class="mb8">The Floor Plan</h4>
                          <!-- <h6 class="uppercase">
                            Graphic Design
                          </h6> -->
                          <p>
                            This cozy dog training space is 300 square feet divided into two separate rooms with dimensions of 9 feet wide by 16 feet long.
                          </p>
                        </div>
                      </div>
                      <div class="tile-right space-image">
                        <!-- <a href="#"> -->
                          <div class="background-image-holder">
                            <img alt="image" class="background-image" src="img/trainer-space/floor-plan2.png" />
                          </div>
                        <!-- </a> -->
                      </div>
                    </div><!--end of horizontal tile-->

                    <div class="horizontal-tile">
                      <div class="tile-left space-image">
                        <!-- <a href="#"> -->
                          <div class="background-image-holder">
                            <img alt="image" class="background-image" src="img/trainer-space/whole-space.jpg" />
                          </div>
                        <!-- </a> -->
                      </div>
                      <div class="tile-right space-image bg-secondary space-description">
                        <div class="description">
                          <h4 class="mb8">As You Enter</h4>
                          <!-- <h6 class="uppercase">
                            Fashion Photography
                          </h6> -->
                          <p>
                            There are hooks on the wall behind the door as you enter for leashes and other gear as well as tote bags for individual dogs' snacks & gear. 
                          </p>
                        </div>
                      </div>
                    </div><!--end of horizontal tile-->

                    <div class="horizontal-tile">
                      <div class="tile-left space-image bg-secondary space-description">
                          <div class="description">
                            <h4 class="mb8">Puppy Gates</h4>
                            <!-- <h6 class="uppercase">
                              Graphic Design
                            </h6> -->
                            <p>
                              The rooms are divided by two doorways complete with removable puppy gates for easy access to both rooms.
                            </p>
                          </div>
                      </div>
                      <div class="tile-right space-image">
                        <!-- <a href="#"> -->
                          <div class="background-image-holder">
                            <img alt="image" class="background-image" src="img/trainer-space/puppy-gate.jpg" />
                          </div>
                        <!-- </a> -->
                      </div>
                    </div><!--end of horizontal tile-->

                    <div class="horizontal-tile">
                      <div class="tile-left space-image">
                        <!-- <a href="#"> -->
                          <div class="background-image-holder">
                            <img alt="image" class="background-image" src="img/trainer-space/foldable-table.jpg" />
                          </div>
                        <!-- </a> -->
                      </div>
                      <div class="tile-right space-image bg-secondary space-description">
                        <div class="description">
                          <h4 class="mb8">Maximum Workspace</h4>
                          <!-- <h6 class="uppercase">
                            Fashion Photography
                          </h6> -->
                          <p>
                            The main room has a wall-mounted table that folds down to give you the maximum amount of space for moving around and doing training. 
                          </p>
                        </div>
                      </div>
                    </div><!--end of horizontal tile-->

                    <div class="horizontal-tile">
                      <div class="tile-left space-image bg-secondary space-description">
                          <div class="description">
                            <h4 class="mb8">Utility Sink & Cleaning Supplies</h4>
                            <!-- <h6 class="uppercase">
                              Graphic Design
                            </h6> -->
                            <p>
                              Along the back wall there's a large utility sink that’s well-stocked with cleaning supplies, mops, brooms, rags, wipes, and paper towels.
                            </p>
                          </div>
                      </div>
                      <div class="tile-right space-image">
                        <!-- <a href="#"> -->
                          <div class="background-image-holder">
                            <img alt="image" class="background-image" src="img/trainer-space/sink-cleaning-supplies.jpg" />
                          </div>
                        <!-- </a> -->
                      </div>
                    </div><!--end of horizontal tile-->

                    <div class="horizontal-tile">
                      <div class="tile-left space-image">
                        <!-- <a href="#"> -->
                          <div class="background-image-holder">
                            <img alt="image" class="background-image" src="img/trainer-space/back-wall-labeled.jpg" />
                          </div>
                        <!-- </a> -->
                      </div>
                      <div class="tile-right space-image bg-secondary space-description">
                        <div class="description" style="padding-bottom: 13px; padding-top: 25px; padding-left: 35px; padding-right: 35px;">
                          <h4 class="mb8">Storage, Crate, Supplies, & Snacks</h4>
                          <!-- <h6 class="uppercase">
                            Fashion Photography
                          </h6> -->
                          <p>
                            Next to the sink is shelving for guest trainer gear, treats, a crate, and office supplies. <br>There’s also a refrigerator, microwave, coffee maker, and hot water pot so you can make coffee or tea and bring your lunch, store it, and warm it up.
 
                          </p>
                        </div>
                      </div>
                    </div><!--end of horizontal tile-->

                    <div class="horizontal-tile">
                      <div class="tile-left space-image bg-secondary space-description">
                          <div class="description" style="padding-top: 30px; padding-bottom: 15px;">
                            <h4 class="mb8">The Back Room</h4>
                            <!-- <h6 class="uppercase">
                              Graphic Design
                            </h6> -->
                            <p>
                              In the summer and on nice days in winter, the garage door opens to let more air and light in for a really nice, open space for training. We are planning to get another longer gate to go across this wall so dogs can be off leash when the garage door is open. 
                            </p>
                          </div>
                      </div>
                      <div class="tile-right space-image">
                        <!-- <a href="#"> -->
                          <div class="background-image-holder">
                            <img alt="image" class="background-image" src="img/trainer-space/back-room.jpg" />
                          </div>
                        <!-- </a> -->
                      </div>
                    </div><!--end of horizontal tile-->

                    <div class="horizontal-tile">
                      <div class="tile-left space-image">
                        <!-- <a href="#"> -->
                          <div class="background-image-holder">
                            <img alt="image" class="background-image" src="img/trainer-space/back-room.jpg" />
                          </div>
                        <!-- </a> -->
                      </div>
                      <div class="tile-right space-image bg-secondary space-description">
                        <div class="description" style="padding-bottom: 13px; padding-top: 25px; padding-left: 35px; padding-right: 35px;">
                          <h4 class="mb8">Large Gear Storage</h4>
                          <!-- <h6 class="uppercase">
                            Fashion Photography
                          </h6> -->
                          <p>
                            In the back room, there’s a second, larger crate along the back wall and shelving for larger dog training gear, toys, and beds.
                          </p>
                        </div>
                      </div>
                    </div><!--end of horizontal tile-->

                   </div>
                </div>
              </div> <!-- END Description tab content -->
            </li>
            <!-- END "SPACE DESCRIPTION" TAB -->

            <!-- BEGIN "RECORDING TUTORIALS" TAB -->
            <li>
              <div class="tab-title">
                <span>Recording Tutorials</span>
              </div>
              <div class="tab-content">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2 col-sm-12" style="text-align: left;">
                    <h4>
                    Try out our new Training Tutorial "Recording Studio" 
                  </h4>
                    <p class="lead">
                      One of our favorite new features for the main room is the curtain you can pull across the back wall to create a great photo & video backdrop.
                    </p>
                    <p class="lead">
                      You can photograph your adorable pup, make dog training tutorials, or film yourself training for reviewing and improving.
                    </p>
                    
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/mgFd7ErDPjw" frameborder="0" allowfullscreen></iframe>
                    <p class="lead">
                      This feature is a work in progress and we look forward to updating and improving our mini recording set. If you are interested, but need help with sound or editing, please let us know. We are happy to help!
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <!-- END "RECORDING TUTORIALS" TAB -->

            <!-- BEGIN "RENTING" TAB -->
            <li>
              <div class="tab-title">
                <span>Renting the Space</span>
              </div>
              <div class="tab-content">
                <div class="row">
                  <div class="col-sm-12" style="text-align: left; padding-left: 0px;">
                    <div style="float: left; display: inline-block;">
                      <h5 class="uppercase" style="margin-bottom: 5px;">Current Trainers & Renters: </h5>
                    </div>
                    <div style="float: left; display: inline-block; min-width: 50%">
                      <input style="max-height: 30px; margin-left: 20px; margin-bottom: 5px;" type="password" placeholder="Password"> <span><p style="margin-left: 20px;">Enter the password you received in your email to view the reservation page.</p></span></input>
                    </div>
                    <div style="float: left; display: inline-block;">
                  </div>
                  <hr>
                </div>

                <!-- BEGIN NEW RENTER "PAGE" -->
                <div id="new-renter">

                  <!-- BEGIN RENTAL PROCESS -->
                  <div class="mb32 text-left">
                    <h4>Rental Process:</h4>
                    <p class="lead">
                      This training space is available to rent for dog trainers and dog owners. You don't need any special certification to rent - all we ask is that you follow a few simple rules and procedures to keep the space clean and safe for everyone. Click the buttons below to download the rules and agreements for this training space. Then follow the steps below to begin training in the space!
                    </p>
                    <a href="*" download="file-name" style="margin-right: 10px;"><span class="btn btn-sm mt12 ">Download Training Space Rules</span></a>
                    <a href="*" download="file-name" style="margin-left: 10px;"><span class="btn btn-sm mt12">Download Guest Trainer Agreements</span></a>
                  </div><!-- END RENTAL PROCESS -->
                  
                  <!-- BEGIN NEW RENTER INFO -->
                  <div class="row">
                    <div class="col-md-7 col-sm-12" style="text-align: left;">
                      
                      <ol class="lead" style="margin-left: 20px;">
                        <li>
                          <p>
                            <strong>Apply:</strong> Complete the "New Renter Application" form
                          </p>
                        </li>
                        <li>
                          <p>
                            <strong>Contact:</strong> Once we receive your "New Renter Application" form, we'll contact you to set up a time to meet & go over procedures.
                          </p>
                        </li>
                        <li>
                          <p>
                            <strong>Meet:</strong> When we meet, we'll discuss any questions or concerns you have and go over the "Guest Trainer Agreements & Liability Release Form". Then we'll show you how to access the space, do setup, cleanup, and other relevant procedures. 
                          </p>
                        </li>
                        <li>
                          <p>
                            <strong>Schedule:</strong> Once the "Guest Trainer Agreements & Liability Release Form" is signed, you'll get an email with information about how to book the training space. All that's left to do is go online and book the space. 
                          </p>
                        </li>              
                      </ol>

                      <h4>Rental Fees:</h4>
                      <table class="table table-hover lead">
                        <th>Rental Fee Schedule:</th>
                        <th>Hourly Rate:</th>
                        <th>Daily Rate:</th>
                        <th>4 Hour <br>Package Deal:</th>
                        <tr>
                          <td><strong>Weekday </strong><br><em>(Non-Prime)</em> <br>6:00am - 5:30pm</td>
                          <td>$12/hour</td>
                          <td>$50/day</td>
                          <td>$40 for 4 hours ($10/hour)</td>
                        </tr>
                        <tr>
                          <td><strong>Weekday <br>Prime Time</strong> 
                          <br>5:30pm - 9:30pm</td>
                          <td>$15/hour</td>
                          <td>$55/evening</td>
                          <td>$100 for 8 hours ($12.50/hour)</td>
                        </tr>
                        <tr>
                          <td><strong>Weekend</strong> <br><em>(all day)</em></td>
                          <td>$15/hour</td>
                          <td>$70/day</td>
                          <td>$50 for 4 hours ($12.50/hour)</td>
                        </tr>
                      </table>

                    </div>
                    <div class="col-md-5 col-sm-12">
                      <h4>New Renter Application Form</h4>
                      <a class="btn btn-filled btn-sm mb24" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScl08mWeLxO0Lp5_0kUs3T9ebBTQG-bcfaXb9Ml3fDnDbqwdg/viewform">Open Form in New Window >></a>
                      <div>
                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScl08mWeLxO0Lp5_0kUs3T9ebBTQG-bcfaXb9Ml3fDnDbqwdg/viewform?embedded=true" width="100%" height="1300" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                      </div>
                    </div>
                  </div><!-- END NEW RENTER INFO --><!--end of row-->

                </div><!-- END NEW RENTER "PAGE" -->

                <!-- BEGIN CURRENT RENTER "PAGE" -->
                <div id="current-renter" class="hide">
                  <!-- BEGIN ACUITY SCHEDULING FRAME -->
                  <div class="row">
                    <div class="col-md-4 col-sm-12" style="text-align: left;">
                      <h4>Online Facility Booking</h4>
                      
                      <iframe src="https://app.acuityscheduling.com/schedule.php?owner=12895365&calendarID=1020642" width="100%" height="800" frameBorder="0"></iframe>
                      <script src="https://d3gxy7nm8y4yjr.cloudfront.net/js/embed.js" type="text/javascript"></script>
                    </div> <!-- END ACUITY SCHEDULING FRAME -->
                    
                    <!-- BEGIN GOOGLE CALENDAR FRAME -->
                    <div class="col-md-8 col-sm-12">
                      <h4>Training Schedule & Availability</h4>
                      <p class="lead text-left">
                        You can check facility availablility here to see what's going on and when the space is free. For easy access to this information, click the button in the bottom right corner to add this calendar to your google account. 
                      </p>
                      <iframe src="https://calendar.google.com/calendar/embed?title=Training%20Space%20Rental%20Schedule&amp;showTitle=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=md7s2a1e9mukl8j378fjru0b28%40group.calendar.google.com&amp;color=%23182C57&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
                    </div> <!-- END GOOGLE CALENDAR FRAME -->

                  </div> <!-- end of row -->
                </div> <!-- END CURRENT RENTER "PAGE" -->

              </div> <!-- END TAB CONTENT "RENTING THE SPACE"  -->
            </li> <!-- END "RENTING THE SPACE" TAB -->

          </ul>
        </div>
        <!--end of text tabs-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>


<!-- <section class=" pb120">
  <div class="container mt48" id="survey">
    <div class="row" >
      <div class="col-md-10 col-md-offset-1 col-sm-12">
        <hr class="pb48">
        <h4 class="uppercase">Take the Trainer Survey</h4>
        <h5>Being a dog trainer is hard enough without having to struggle to find and pay for training space! The Down to Earth Dog Lady is collaborating with business partners to explore ways for dog trainers to share training space and create a collaborative, supportive dog training community.</h5>
        <h5>You can help make this dream a reality! Please take a moment to fill out our survey and share your input.</h5>
        <a class="btn btn-filled btn-lg mb80" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfIGuYDRjwPXIZt7ssocohA22b-SyceTjTwGbPc_nr-QhdnYA/viewform">Go to Survey</a>
      </div>
    </div> -->
    <!-- <div class="row v-align-children">
      <div class="col-md-12">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfIGuYDRjwPXIZt7ssocohA22b-SyceTjTwGbPc_nr-QhdnYA/viewform?embedded=true" width="100%" height="1300" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>
    </div> -->
    <!--end of row-->
 <!--  </div> -->
  <!--end of container-->
<!-- </section> -->