
<script type="text/html" id="template-event">
  <li class="test">
    <!-- Begin Tab - tab title -->
    <div class="tab-title">
      <span><a href="" role="tab" data-toggle="tab"></a></span>
    </div>

    <!-- Begin Tab Content -->
    <div class="tab-content">
      <h5 class="uppercase content-title"></h5>
      <hr>
      <div style="display: block;" class="col-md-8 training-link">
        <div class="event-description">
          <!-- "description": "html": -->
        </div>

        <!-- Event Location(s), Date(s), & Time(s) -->
        <div class="mt32" style="font-size: 1.2em;">
          <h6 class="uppercase mb16 event-location">Private Lesson Location: "SE Portland"</h6>
          <h5 style="color: red;">Need New API Query for Location Data</h5>
          <ul class="mb24">
            <li class="event-date-time">
              <span style="margin-right: 10px; "><i class="ti-control-record"></i></span>
              <span class="event-start-day"></span>,&nbsp;
              <span class="event-start-date"></span>,&nbsp;
              <span class="event-start-year"></span>;&nbsp;
              <span class="event-start-time"></span>
               - <span class="event-end-time"></span>
            </li>
          </ul>
          <div class="event-registration-url">
            <a class="btn btn-filled btn-md mb16" style="color: white; font-size: .9em;" href="link to event">Register for a Lesson</a>
          </div>
        </div>

        <!-- Cancelation Policy -->
        <div style="margin-top: 1em;" class="alert alert-danger alert-dismissible" role="alert">
          <p><span style="font-weight: 500; font-size: 1.2em;"><strong>Cancellation Policy: </strong></span>
          For full refund, lessons must be canceled at least two business days prior to scheduled day.</p>
        </div>

        <!-- Begin Package Details & Registration Content -->
        <div class="package-details" style="display: none;">
          <span class="package-description-title">
            <p class="lead">Purchase a Private Lesson Package</p>
          </span>
          <!-- Package Description -->
          <div class="package-registration-description package-description-text">
            <!-- "description": "html": -->
          </div>
          <div class="package-registration-url">
            <a class="btn btn-filled btn-sm mb16" href="link to event">Purchase a Private Lesson Package</a>
          </div>
        </div>
        <!-- End Package Details & Registration Content -->

      </div>
      <!-- Event Image Holder -->
      <div style="display: block;" class="col-md-4 event-image-holder">
        <div class="event-image">
          <img class="featurette-image img-responsive center-block" src="" alt="Generic placeholder image">
        </div>
      </div>

    </div>
    <!-- END Tab Content -->
  </li>
</script>

<!-- BEGIN CLASS LISTINGS -->
<div class="tabbed-content button-tabs vertical">
  <ul class="tabs" id="eventTabs">

    <!-- this is where the template in the script above will go-->

  </ul>
</div>
<!--end of button tabs-->
