/****** PLACE YOUR CUSTOM STYLES HERE ******/


/* Image Gallery */
/*=================================================*/

.image-caption .caption {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  padding-top: 10%;
  color: #fff;
}

.image-caption .caption p {
  position: relative;
  z-index: 4;
  margin: 0;
}
.image-caption .caption:before {
  content: '' attr(data-caption) '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
}
.image-caption.hover-caption .caption {
  opacity: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transform: translate3d(0, 100px, 0);
  -webkit-transform: translate3d(0, 100px, 0);
  -moz-transform: translate3d(0, 100px, 0);
}
.image-caption.hover-caption:hover .caption {
  opacity: 1;
  bottom: 87;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  /*margin-bottom: 30%;*/
  vertical-align: text-top;
  background: -webkit-linear-gradient(top, rgba(34, 34, 34, 0), rgba(34, 34, 34, 1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, rgba(34, 34, 34, 1), rgba(34, 34, 34, 1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, rgba(34, 34, 34, 1), rgba(34, 34, 34, 1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, rgba(34, 34, 34, 0), rgba(34, 34, 34, 1)); /* Standard syntax (must be last) */
}


.lightbox-grid li {
  width: 25%;
  float: left;
  border: 8px solid rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  opacity: .9;
}
.lightbox-grid li:hover {
  opacity: 1;
  padding-bottom: 1em;
}
.square-thumbs li {
  height: 285px;
}

.image-tile {
    overflow: hidden;
    position: inherit;
    margin-bottom: 24px;
}


.inner-title:before {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(34, 34, 34, 0.9)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#292929', GradientType=0);
  pointer-events: none;
}
.inner-title.title-center:before {
  background: #292929;
  opacity: .4;
}
.inner-title:hover:before {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}
.inner-title .title {
  position: absolute;
  width: 100%;

  z-index: 5;
}

.title{
  padding-left: .5em;
  padding-right: .5em;
}

/* Nav Bar */
/*=================================================*/

nav li.active a {
  background-color: #f5f5f5;
  font: #292929;
  font-weight: 800;
  opacity: .7;

}

nav li a {
  padding: 1em;
  margin-right: .1em;

}

.menu > li {
    margin-right: 1.5em;
    float: left;
    position: relative;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 1;
}

h5#home-header.uppercase {
  font-size: 1em;
}

/* Icons */
/*=================================================*/

.feature-2 i {
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid rgba(71, 180, 117, .015);
    /*background-color: #fcfcfc;*/
    text-align: center;
    line-height: 1.4em;
    font-size: 5em;
    color: #47b475;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 24px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.hover-icon {
  padding: 10px;
  border-radius: 40px;
}
.hover-icon:hover, .hover-icon:focus  {
  color: #f8f8f8;
  background-color: #47b475;
  -webkit-transition: all 0.5s ease;
  padding: 10px;
  border-radius: 40px;
}
.header-logo {
  max-height: 10em;
  opacity: .5;
  margin-bottom: 2em;
  margin-top: -2em;
}
li.active div.tab-title a{
  color: white;
  font-weight: 900;
  font-size: 1.1em;
}
.tab-content-training {
  margin-left: 6em;
}


/* testimonials */
/*=================================================*/

.testimonials li p {
  text-align: left;

}


/* List Styles */
/*=================================================*/

i {
  color: #47b475;
}

.ti-angle-right:before {
    content: "\e649";
}

.list-group-item {
  border: none;
  padding-left: 2em;
}

.ti-arrow-right {
  color: #47b475;
  font-size: 1em;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
  line-height: 1.5;
}
.ti-alert {
  font-size: 1.5em;
}
.green {
  color: #47b475;
}

span.icon-name {
  line-height: 1.5;
  margin-left: 5px;
  transition: .3s;
}

.icon-container {
  padding-top: 0px;
}

#services li.active a, ul.content li.active #training-link a {
    color: #47b475;
    font-weight: 600;
}

/*li.list-group-item:before {
  font-family: themify;
  content: "\e649";
  color: #47b475;
  font-size: 1.3em;
}*/


/* @Media Queries */
/*=================================================*/

@media all and (max-width: 991px) {
  #contact-2-col {
    display: none;
  }
  #contact-single-col {
    display: block;
  }
}
@media all and (min-width: 992px) {
  #contact-2-col {
    display: block;
  }
  #contact-single-col {
    display: none;
  }
}

/*FOOTER*/

/*
max: 400 (>0)
min: 401 / max: 500 (>401, <500)
min: 501 / max: 600 (>501, <600)
min: 601 / max: 700 (>601, <700)
min: 701 / max: 767 (>701, <767)
min: 768 / max: 990 (>769, <990)
======================================*/

@media all  and (max-width: 400px) {
  footer .row {
    padding-left: 1em;
    padding-right: 1em;
  }
  div.widget {
    padding-left: 1em;
    padding-right: 3em;
  }
}
@media all and (min-width:401px) and (max-width: 500px) {
  footer .row {
    padding-left: 1em;
    padding-right: 1em;
  }
  div.widget {
    padding-left: 3em;
    padding-right: 4em;
  }
}
@media all and (min-width:501px) and (max-width: 600px) {
  footer .row {
    padding-left: 3em;
    padding-right: 5em;
  }
  div.widget {
    padding-left: 3em;
    padding-right: 5em;
  }
}

@media all and (min-width:601px) and (max-width: 700px) {
  footer .row {
    padding-left: 3em;
    padding-right: 5em;
  }
  div.widget {
    padding-left: 7em;
    padding-right: 8em;
  }
}
@media all and (min-width:701px) and (max-width: 767px) {
  footer .row {
    padding-left: 3em;
    padding-right: 5em;
  }
  div.widget {
    padding-left: 7em;
    padding-right: 12em;
  }
}
@media all and (min-width: 768px) and (max-width: 990px) {
  footer .row {
    padding-left: 3em;
    padding-right: 5em;
  }
  div.widget {
    padding-left: 0px;
    padding-right: 0px;
  }
  .col-sm-6 {
      width: 100%;
  }
}



/*Mail Chimp News Letter*/
/*=================================================*/

#mc_embed_signup_scroll form, div label {
  background:#fff;
  clear:left;
  border: none;
  text-align: left;
  font:14px Helvetica,Arial,sans-serif;
}
#mc_embed_signup .mc-field-group input.email,
#mc_embed_signup .mc-field-group input.mail-style,
#mc_embed_signup .mc-field-group input.mail-style {
  width: 100%;
  background: #f5f5f5;
  border: none;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  font-weight: 500;
  margin-bottom: 24px;
  border-radius: 0;"
}
