<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="scroll-assist">

    {% include header.html %}

    <div class="main-container">

      {{ content }}

      {% include footer.html %}

    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/flickr.js"></script>
    <script src="/js/flexslider.min.js"></script>
    <script src="/js/lightbox.min.js"></script>
    <script src="/js/masonry.min.js"></script>
    <script src="/js/twitterfetcher.min.js"></script>
    <script src="/js/spectragram.min.js"></script>
    <script src="/js/ytplayer.min.js"></script>
    <script src="/js/countdown.min.js"></script>
    <script src="/js/smooth-scroll.min.js"></script>
    <script src="/js/parallax.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>
